# Check raw vs evaluated data

Check that after all changes, the evaluated files contain the same names (first, mid, last, full) than the raw test data file

In [1]:
import pandas as pd
from evaluators import *
from IPython.display import display

In [2]:
def check_match_test_evaluated_data(evaluator):
    """Checks that the content of an evaluated file agrees with the raw test data.
    Prints the rows that do not agree
    Merges the raw test data file and the evaluated one and checks for distinct columns"""
    # Run load_data with optional return_frame=True to not overwrite evaluator.test_data
    rawdf = evaluator.load_data(return_frame=True)
    evaldf = evaluator.test_data
    # We assume that the data has been evaluated, i.e. rawdf and evaldf are different
    # Make left join to get all matches that are in raw but not in eval
    merged = evaldf.merge(rawdf, indicator=True, how='outer')
    # Results in column _merge are either 'both' or 'left_only' - the latter are to be updated
    changed_tests = merged[merged['_merge'].isin(['left_only', 'right_only'])]
    if len(changed_tests) == 0:
        print('Evaluated data set matches contents of test data set. Good!')
    else:
        print('There is a mismatch between raw and evaluated datasets. Please fix.')
        print('right_only are entries in the raw data set. left_only in the evaluated one.')
    display(changed_tests)

### Gender_guesser

In [3]:
data_source = 'all'
service_name = GenderGuesserEvaluator

In [4]:
evaluatorGG = service_name(data_source)
evaluatorGG.load_data()
evaluatorGG.fetch_gender()

Reading data from dump file test_data/gender_guesser/test_data_all_gender_guesser.csv

In [9]:
check_match_test_evaluated_data(evaluatorGG)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_gender, gender_infered, _merge]
Index: []

Gender_guesser was evaluated after the refactoring. No need to re-do the names with connectors.

In [10]:
evaluatorGG.compute_all_errors()
evaluatorGG.confusion_matrix

   f_pred  m_pred  u_pred
f    1509      69     383
m      94    2953     782
u     250     638     398

### Genderize_io

In [11]:
data_source = 'all'
service_name = GenderizeIoEvaluator

In [12]:
evaluatorGIO = service_name(data_source)
evaluatorGIO.load_data()
evaluatorGIO.fetch_gender()

Reading data from dump file test_data/genderize_io/test_data_all_genderize_io.csv

In [13]:
check_match_test_evaluated_data(evaluatorGIO)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_count, api_gender, api_name, api_probability, gender_infered, _merge]
Index: []

Genderize_io was evaluated after the refactoring. No need to re-do the names with connectors.

In [14]:
evaluatorGIO.compute_all_errors()
evaluatorGIO.confusion_matrix

   f_pred  m_pred  u_pred
f    1722      88     151
m     220    3197     412
u     361     762     163

### NamSor

In [15]:
data_source = 'all'
service_name = NamSorEvaluator

In [16]:
evaluatorNS = service_name(data_source)
evaluatorNS.load_data()
evaluatorNS.fetch_gender()

Reading data from dump file test_data/namsor/test_data_all_namsor.csv

In [17]:
check_match_test_evaluated_data(evaluatorNS)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_firstName, api_gender, api_lastName, api_scale, gender_infered, _merge]
Index: []

NamSor was evaluated after the refactoring. No need to re-do the names with connectors.

In [18]:
evaluatorNS.compute_all_errors()
evaluatorNS.confusion_matrix

   f_pred  m_pred  u_pred
f    1662     109     190
m     162    3341     326
u     282     706     298

### NamesAPI-Full

In [29]:
data_source = 'all'
service_name = NamesAPIFullEvaluator

In [30]:
evaluatorNAF = service_name(data_source)
evaluatorNAF.load_data()
evaluatorNAF.fetch_gender()

Reading data from dump file test_data/names_api_full/test_data_all_names_api_full.csv

#### Fix problem with 'nan' name

In [5]:
check_match_test_evaluated_data(evaluatorNAF)

There is a mismatch between raw and evaluated datasets. Please fix.
right_only are entries in the raw data set. left_only in the evaluated one.

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,api_maleProportion,gender_infered,_merge
5038,,xian,chen,nan xian chen,m,nature,0.814064,MALE,,m,left_only
7076,nan,xian,chen,nan xian chen,m,nature,NaN,NaN,NaN,NaN,right_only

In [6]:
# In the old test data file the first name had been incorrectly read as NaN. Put 'nan' back in
evaluatorNAF.test_data.loc[5038, 'first_name'] = 'nan'

In [7]:
evaluatorNAF.update_selected_records([5038])

Updating entry 5038
Calling API for name:
first_name: nan	middle_name: xian	                   last_name: chen	full_name: nan xian chen
Data updated in dump file test_data/names_api_full/test_data_all_names_api_full.csv

In [9]:
evaluatorNAF.fetch_gender()

Reading data from dump file test_data/names_api_full/test_data_all_names_api_full.csv

In [10]:
check_match_test_evaluated_data(evaluatorNAF)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_confidence, api_gender, api_maleProportion, gender_infered, _merge]
Index: []

#### Re-do names with middle name - since handling of connectors in the code changed after loop refactoring

In [32]:
evaluatorNAF.test_data[evaluatorNAF.test_data.middle_name!=''].head()

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,api_maleProportion,gender_infered
0,pierre,paul,grivel,pierre paul grivel,m,zbmath,1.000000,MALE,,m
6,catherine,bouloux,marquet,catherine bouloux marquet,f,zbmath,0.901827,FEMALE,,f
14,claude,joachim,hamann,claude joachim hamann,m,zbmath,1.000000,MALE,,m
22,jorge,drumond,silva,jorge drumond silva,m,zbmath,0.896182,MALE,,m
25,jost,hinrich,eschenburg,jost hinrich eschenburg,m,zbmath,0.735872,MALE,,m

In [33]:
len(evaluatorNAF.test_data[evaluatorNAF.test_data.middle_name!=''])

913

We need to re-do all those 913 cases above, since we do not know which ones came from joining first and middle name with empty connector.

In [34]:
evaluatorNAF.test_data[(evaluatorNAF.test_data.middle_name!='')].head(10)

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,api_maleProportion,gender_infered
0,pierre,paul,grivel,pierre paul grivel,m,zbmath,1.000000,MALE,,m
6,catherine,bouloux,marquet,catherine bouloux marquet,f,zbmath,0.901827,FEMALE,,f
14,claude,joachim,hamann,claude joachim hamann,m,zbmath,1.000000,MALE,,m
22,jorge,drumond,silva,jorge drumond silva,m,zbmath,0.896182,MALE,,m
25,jost,hinrich,eschenburg,jost hinrich eschenburg,m,zbmath,0.735872,MALE,,m
44,jae,il,lee,jae il lee,u,zbmath,0.911111,UNKNOWN,,u
50,boris,yakovlevich,levin,boris yakovlevich levin,m,zbmath,1.000000,MALE,,m
71,marek,cezary,zdun,marek cezary zdun,m,zbmath,1.000000,MALE,,m
88,pierre,loic,meliot,pierre loic meliot,m,zbmath,1.000000,MALE,,m
110,douglas,john,white,douglas john white,m,zbmath,1.000000,MALE,,m

In [35]:
len(evaluatorNAF.test_data[(evaluatorNAF.test_data.middle_name!='')])

913

In [36]:
to_update_indices = evaluatorNAF.test_data[(evaluatorNAF.test_data.middle_name!='')].index
to_update_indices

Int64Index([   0,    6,   14,   22,   25,   44,   50,   71,   88,  110,
            ...
            7050, 7051, 7056, 7057, 7062, 7063, 7064, 7068, 7073, 7074],
           dtype='int64', length=913)

In [37]:
evaluatorNAF.update_selected_records(to_update_indices)

Updating entry 0
Calling API for name:
first_name: pierre	middle_name: paul	                   last_name: grivel	full_name: pierre paul grivel
Updating entry 6
Calling API for name:
first_name: catherine	middle_name: bouloux	                   last_name: marquet	full_name: catherine bouloux marquet
Updating entry 14
Calling API for name:
first_name: claude	middle_name: joachim	                   last_name: hamann	full_name: claude joachim hamann
Updating entry 22
Calling API for name:
first_name: jorge	middle_name: drumond	                   last_name: silva	full_name: jorge drumond silva
Updating entry 25
Calling API for name:
first_name: jost	middle_name: hinrich	                   last_name: eschenburg	full_name: jost hinrich eschenburg
Updating entry 44
Calling API for name:
first_name: jae	middle_name: il	                   last_name: lee	full_name: jae il lee
Updating entry 50
Calling API for name:
first_name: boris	middle_name: yakovlevich	                   last_name: levin	full_name: boris yakovlevich levin
Updating entry 71
Calling API for name:
first_name: marek	middle_name: cezary	                   last_name: zdun	full_name: marek cezary zdun
Updating entry 88
Calling API for name:
first_name: pierre	middle_name: loic	                   last_name: meliot	full_name: pierre loic meliot
Updating entry 110
Calling API for name:
first_name: douglas	middle_name: john	                   last_name: white	full_name: douglas john white
Updating entry 111
Calling API for name:
first_name: davy	middle_name: ho	                   last_name: chan	full_name: davy ho chan
Updating entry 114
Calling API for name:
first_name: isabel	middle_name: fraga	                   last_name: alves	full_name: isabel fraga alves
Updating entry 115
Calling API for name:
first_name: jin	middle_name: ho	                   last_name: choi	full_name: jin ho choi
Updating entry 121
Calling API for name:
first_name: john	middle_name: ren	                   last_name: chen	full_name: john ren chen
Updating entry 134
Calling API for name:
first_name: outi	middle_name: elina	                   last_name: maasalo	full_name: outi elina maasalo
Updating entry 139
Calling API for name:
first_name: marie	middle_name: francoise	                   last_name: delcroix	full_name: marie francoise delcroix
Updating entry 145
Calling API for name:
first_name: suhasini	middle_name: subba	                   last_name: rao	full_name: suhasini subba rao
Updating entry 147
Calling API for name:
first_name: david	middle_name: matthew	                   last_name: kelly	full_name: david matthew kelly
Updating entry 163
Calling API for name:
first_name: james	middle_name: murray	                   last_name: hill	full_name: james murray hill
Updating entry 180
Calling API for name:
first_name: maria	middle_name: zofia	                   last_name: banaszczyk	full_name: maria zofia banaszczyk
Updating entry 181
Calling API for name:
first_name: mehmet	middle_name: namik	                   last_name: oguztoereli	full_name: mehmet namik oguztoereli
Updating entry 187
Calling API for name:
first_name: alexei	middle_name: yu	                   last_name: karlovich	full_name: alexei yu karlovich
Updating entry 195
Calling API for name:
first_name: soo	middle_name: jin	                   last_name: kim	full_name: soo jin kim
Updating entry 218
Calling API for name:
first_name: sung	middle_name: hoon	                   last_name: hong	full_name: sung hoon hong
Updating entry 224
Calling API for name:
first_name: figen	middle_name: acil	                   last_name: kiraz	full_name: figen acil kiraz
Updating entry 238
Calling API for name:
first_name: asim	middle_name: kumar	                   last_name: mandal	full_name: asim kumar mandal
Updating entry 256
Calling API for name:
first_name: alf	middle_name: birger	                   last_name: rustad	full_name: alf birger rustad
Updating entry 266
Calling API for name:
first_name: abdel	middle_name: hadi	                   last_name: ahmed	full_name: abdel hadi ahmed
Updating entry 292
Calling API for name:
first_name: razvan	middle_name: alin	                   last_name: satnoianu	full_name: razvan alin satnoianu
Updating entry 295
Calling API for name:
first_name: huy	middle_name: thang	                   last_name: cao	full_name: huy thang cao
Updating entry 300
Calling API for name:
first_name: ben	middle_name: da	                   last_name: zhou	full_name: ben da zhou
Updating entry 310
Calling API for name:
first_name: hon	middle_name: kit	                   last_name: wai	full_name: hon kit wai
Updating entry 311
Calling API for name:
first_name: bao	middle_name: wen	                   last_name: sun	full_name: bao wen sun
Updating entry 312
Calling API for name:
first_name: byoung	middle_name: chan	                   last_name: lee	full_name: byoung chan lee
Updating entry 325
Calling API for name:
first_name: carlos	middle_name: renato	                   last_name: vazquez	full_name: carlos renato vazquez
Updating entry 327
Calling API for name:
first_name: b	middle_name: jo	                   last_name: ptashnyk	full_name: b jo ptashnyk
Updating entry 333
Calling API for name:
first_name: chao	middle_name: zhu	                   last_name: zhang	full_name: chao zhu zhang
Updating entry 342
Calling API for name:
first_name: jwu	middle_name: sheng	                   last_name: hu	full_name: jwu sheng hu
Updating entry 347
Calling API for name:
first_name: wai	middle_name: king	                   last_name: ching	full_name: wai king ching
Updating entry 348
Calling API for name:
first_name: maria	middle_name: conception	                   last_name: carvalho	full_name: maria conception carvalho
Updating entry 357
Calling API for name:
first_name: cai	middle_name: gui	                   last_name: liu	full_name: cai gui liu
Updating entry 359
Calling API for name:
first_name: jan	middle_name: tijmen	                   last_name: udding	full_name: jan tijmen udding
Updating entry 361
Calling API for name:
first_name: hsueh	middle_name: chuan	                   last_name: liu	full_name: hsueh chuan liu
Updating entry 366
Calling API for name:
first_name: frieder	middle_name: jens	                   last_name: lange	full_name: frieder jens lange
Updating entry 373
Calling API for name:
first_name: cheng	middle_name: wei	                   last_name: chen	full_name: cheng wei chen
Updating entry 378
Calling API for name:
first_name: john	middle_name: wilson	                   last_name: calkin	full_name: john wilson calkin
Updating entry 389
Calling API for name:
first_name: tack	middle_name: wang	                   last_name: lee	full_name: tack wang lee
Updating entry 422
Calling API for name:
first_name: judith	middle_name: louisa	                   last_name: schmid	full_name: judith louisa schmid
Updating entry 482
Calling API for name:
first_name: yves	middle_name: marie	                   last_name: allioux	full_name: yves marie allioux
Updating entry 495
Calling API for name:
first_name: linda	middle_name: esther	                   last_name: oray	full_name: linda esther oray
Updating entry 514
Calling API for name:
first_name: shing	middle_name: tung	                   last_name: yau	full_name: shing tung yau
Updating entry 570
Calling API for name:
first_name: diane	middle_name: romayne	                   last_name: baker	full_name: diane romayne baker
Updating entry 572
Calling API for name:
first_name: dusanka	middle_name: savic	                   last_name: pavicevic	full_name: dusanka savic pavicevic
Updating entry 589
Calling API for name:
first_name: geraldo	middle_name: vicente	                   last_name: de almeida	full_name: geraldo vicente de almeida
Updating entry 602
Calling API for name:
first_name: hyoung	middle_name: gon	                   last_name: lee	full_name: hyoung gon lee
Updating entry 606
Calling API for name:
first_name: ronald	middle_name: grigor	                   last_name: suny	full_name: ronald grigor suny
Updating entry 666
Calling API for name:
first_name: pedro	middle_name: ramon	                   last_name: gutierrez hernandez	full_name: pedro ramon gutierrez hernandez
Updating entry 705
Calling API for name:
first_name: nirmal	middle_name: kumar	                   last_name: chandra	full_name: nirmal kumar chandra
Updating entry 717
Calling API for name:
first_name: charlotte	middle_name: pomerantz	                   last_name: marzani	full_name: charlotte pomerantz marzani
Updating entry 739
Calling API for name:
first_name: pierre	middle_name: sylvain	                   last_name: filliozat	full_name: pierre sylvain filliozat
Updating entry 751
Calling API for name:
first_name: anne	middle_name: hudson	                   last_name: jones	full_name: anne hudson jones
Updating entry 782
Calling API for name:
first_name: hans	middle_name: peter	                   last_name: bruch	full_name: hans peter bruch
Updating entry 789
Calling API for name:
first_name: carol	middle_name: anne	                   last_name: costabile-heming	full_name: carol anne costabile-heming
Updating entry 795
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: pujol	full_name: jean louis pujol
Updating entry 802
Calling API for name:
first_name: karl	middle_name: heinz	                   last_name: schwalbe	full_name: karl heinz schwalbe
Updating entry 833
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: bardon	full_name: jean pierre bardon
Updating entry 885
Calling API for name:
first_name: jose	middle_name: carlos	                   last_name: mainer	full_name: jose carlos mainer
Updating entry 888
Calling API for name:
first_name: rolf	middle_name: tore	                   last_name: ottesen	full_name: rolf tore ottesen
Updating entry 898
Calling API for name:
first_name: mary	middle_name: rose	                   last_name: couper	full_name: mary rose couper
Updating entry 952
Calling API for name:
first_name: cindy	middle_name: fabian	                   last_name: mascone	full_name: cindy fabian mascone
Updating entry 967
Calling API for name:
first_name: nancy	middle_name: mary	                   last_name: adams	full_name: nancy mary adams
Updating entry 984
Calling API for name:
first_name: rob	middle_name: roy	                   last_name: kelly	full_name: rob roy kelly
Updating entry 988
Calling API for name:
first_name: allen	middle_name: purdue	                   last_name: britton	full_name: allen purdue britton
Updating entry 992
Calling API for name:
first_name: aage	middle_name: niels	                   last_name: bohr	full_name: aage niels bohr
Updating entry 995
Calling API for name:
first_name: alastair	middle_name: michael	                   last_name: porter	full_name: alastair michael douglas porter
Updating entry 996
Calling API for name:
first_name: alastair	middle_name: vincent	                   last_name: campbell	full_name: alastair vincent campbell
Updating entry 997
Calling API for name:
first_name: aldo	middle_name: ricardo	                   last_name: castaneda	full_name: aldo ricardo castaneda
Updating entry 998
Calling API for name:
first_name: aleksandr	middle_name: aleksandrovich	                   last_name: kaplyanskii	full_name: aleksandr aleksandrovich kaplyanskii
Updating entry 999
Calling API for name:
first_name: aleksandr	middle_name: petrovich	                   last_name: krylov	full_name: aleksandr petrovich krylov
Updating entry 1000
Calling API for name:
first_name: aleksandr	middle_name: yakovlevich	                   last_name: lerner	full_name: aleksandr yakovlevich lerner
Updating entry 1002
Calling API for name:
first_name: alexander	middle_name: yakovlevich	                   last_name: lerner	full_name: alexander yakovlevich lerner
Updating entry 1004
Calling API for name:
first_name: anatolii	middle_name: aleksandrovich	                   last_name: ishchenko	full_name: anatolii aleksandrovich ishchenko
Updating entry 1006
Calling API for name:
first_name: andre	middle_name: stephane	                   last_name: hamer	full_name: andre stephane hamer
Updating entry 1008
Calling API for name:
first_name: anna	middle_name: isabella	                   last_name: davison	full_name: anna isabella davison
Updating entry 1009
Calling API for name:
first_name: anne	middle_name: mary	                   last_name: buck	full_name: anne mary buck
Updating entry 1011
Calling API for name:
first_name: anthony	middle_name: francis	                   last_name: rickards	full_name: anthony francis rickards
Updating entry 1012
Calling API for name:
first_name: antony	middle_name: frank	                   last_name: francis	full_name: antony frank francis
Updating entry 1013
Calling API for name:
first_name: arsen	middle_name: ralph	                   last_name: papakhian	full_name: arsen ralph papakhian
Updating entry 1016
Calling API for name:
first_name: arthur	middle_name: philip	                   last_name: waind	full_name: arthur philip booth waind
Updating entry 1024
Calling API for name:
first_name: benedict	middle_name: john	                   last_name: barry	full_name: benedict john barry
Updating entry 1026
Calling API for name:
first_name: bertram	middle_name: neville	                   last_name: brockhouse	full_name: bertram neville brockhouse
Updating entry 1036
Calling API for name:
first_name: campbell	middle_name: grieve	                   last_name: stalker	full_name: campbell grieve stalker
Updating entry 1037
Calling API for name:
first_name: carl	middle_name: gottfried	                   last_name: semper	full_name: carl gottfried semper
Updating entry 1038
Calling API for name:
first_name: carl	middle_name: gustav	                   last_name: jung	full_name: carl gustav jung
Updating entry 1052
Calling API for name:
first_name: david	middle_name: abraham	                   last_name: katcher	full_name: david abraham katcher
Updating entry 1053
Calling API for name:
first_name: david	middle_name: hamilton	                   last_name: smith	full_name: david hamilton smith
Updating entry 1054
Calling API for name:
first_name: david	middle_name: herbert	                   last_name: donald	full_name: david herbert donald
Updating entry 1056
Calling API for name:
first_name: david	middle_name: morris	                   last_name: welborn	full_name: david morris welborn
Updating entry 1058
Calling API for name:
first_name: david	middle_name: schofield	                   last_name: jeffery	full_name: david schofield jeffery
Updating entry 1062
Calling API for name:
first_name: derek	middle_name: charles	                   last_name: robinson	full_name: derek charles robinson
Updating entry 1067
Calling API for name:
first_name: donald	middle_name: morgan	                   last_name: anderson	full_name: donald morgan anderson
Updating entry 1068
Calling API for name:
first_name: donald	middle_name: redfield	                   last_name: griffin	full_name: donald redfield griffin
Updating entry 1069
Calling API for name:
first_name: donald	middle_name: stevenson	                   last_name: pitkin	full_name: donald stevenson pitkin
Updating entry 1070
Calling API for name:
first_name: donald	middle_name: william	                   last_name: gau	full_name: donald william gau
Updating entry 1073
Calling API for name:
first_name: richard	middle_name: moreton	                   last_name: ellison	full_name: richard moreton ellison
Updating entry 1076
Calling API for name:
first_name: clifton	middle_name: fletcher	                   last_name: mountain	full_name: clifton fletcher mountain
Updating entry 1080
Calling API for name:
first_name: peer	middle_name: michael	                   last_name: portner	full_name: peer michael portner
Updating entry 1088
Calling API for name:
first_name: edmund	middle_name: neville	                   last_name: hey	full_name: edmund neville hey
Updating entry 1091
Calling API for name:
first_name: edwin	middle_name: sinclair	                   last_name: young	full_name: edwin sinclair young
Updating entry 1094
Calling API for name:
first_name: eloge	middle_name: john	                   last_name: greene	full_name: eloge john colton greene
Updating entry 1095
Calling API for name:
first_name: eric	middle_name: matheson	                   last_name: dunlop	full_name: eric matheson dunlop
Updating entry 1098
Calling API for name:
first_name: evgenii	middle_name: akimovich	                   last_name: turov	full_name: evgenii akimovich turov
Updating entry 1099
Calling API for name:
first_name: evgenii	middle_name: nikolaevich	                   last_name: avrorin	full_name: evgenii nikolaevich avrorin
Updating entry 1106
Calling API for name:
first_name: garry	middle_name: davis	                   last_name: jones	full_name: garry davis jones
Updating entry 1108
Calling API for name:
first_name: geoffrey	middle_name: john	                   last_name: pugh	full_name: geoffrey john frederick pugh
Updating entry 1109
Calling API for name:
first_name: george	middle_name: adam	                   last_name: newsholme	full_name: george adam newsholme
Updating entry 1111
Calling API for name:
first_name: george	middle_name: alfred	                   last_name: quinnell	full_name: george alfred fiske quinnell
Updating entry 1113
Calling API for name:
first_name: george	middle_name: william	                   last_name: blair	full_name: george william scott blair
Updating entry 1117
Calling API for name:
first_name: graham	middle_name: martin	                   last_name: pizzey	full_name: graham martin pizzey
Updating entry 1118
Calling API for name:
first_name: graham	middle_name: warner	                   last_name: ward	full_name: graham warner ward
Updating entry 1119
Calling API for name:
first_name: griff	middle_name: terry	                   last_name: ross	full_name: griff terry ross
Updating entry 1120
Calling API for name:
first_name: guillermo	middle_name: lohmann	                   last_name: villena	full_name: guillermo lohmann villena
Updating entry 1121
Calling API for name:
first_name: gwilym	middle_name: kenneth	                   last_name: davies	full_name: gwilym kenneth davies
Updating entry 1124
Calling API for name:
first_name: harry	middle_name: francis	                   last_name: taylor	full_name: harry francis west taylor
Updating entry 1128
Calling API for name:
first_name: herta	middle_name: julie	                   last_name: altschulova	full_name: herta julie altschulova
Updating entry 1134
Calling API for name:
first_name: john	middle_name: szentagothai	                   last_name: centennial	full_name: john szentagothai centennial
Updating entry 1144
Calling API for name:
first_name: joseph	middle_name: michael	                   last_name: foley	full_name: joseph michael foley
Updating entry 1151
Calling API for name:
first_name: igor	middle_name: ivanovich	                   last_name: volkov	full_name: igor ivanovich volkov
Updating entry 1158
Calling API for name:
first_name: leonid	middle_name: nikitovich	                   last_name: barabanov	full_name: leonid nikitovich barabanov
Updating entry 1164
Calling API for name:
first_name: frederic	middle_name: louis	                   last_name: lizzi	full_name: frederic louis lizzi
Updating entry 1165
Calling API for name:
first_name: george	middle_name: alex	                   last_name: mills	full_name: george alex mills
Updating entry 1168
Calling API for name:
first_name: lawrence	middle_name: gideon	                   last_name: raisz	full_name: lawrence gideon raisz
Updating entry 1171
Calling API for name:
first_name: margaret	middle_name: byrd	                   last_name: rawson	full_name: margaret byrd rawson
Updating entry 1176
Calling API for name:
first_name: alexei	middle_name: borisovich	                   last_name: kaidalov	full_name: alexei borisovich kaidalov
Updating entry 1186
Calling API for name:

KeyError: 'INDETERMINABLE'

The code couldn't handle the 'INDETERMINABLE' key. Let's fix it manually and commit a patch in evaluators.py.

In [41]:
evaluatorNAF.test_data[(evaluatorNAF.test_data.index.isin(list(to_update_indices))) \
                       & (evaluatorNAF.test_data.full_name=='pedro luis da costa aguiar alves')]

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,api_maleProportion,gender_infered
6035,pedro,luis,da costa aguiar alves,pedro luis da costa aguiar alves,u,nature,1.0,INDETERMINABLE,,INDETERMINABLE

In [44]:
evaluatorNAF.test_data.loc[6035, 'gender_infered'] = 'u'

In [49]:
to_update_remaining_indices = [ind for ind in to_update_indices if ind>6035]
len(to_update_remaining_indices)

297

In [50]:
evaluatorNAF.update_selected_records(to_update_remaining_indices)

Updating entry 6044
Calling API for name:
first_name: jose	middle_name: teixeira	                   last_name: de seixas filho	full_name: jose teixeira de seixas filho
Updating entry 6051
Calling API for name:
first_name: beom	middle_name: jin	                   last_name: lee	full_name: beom jin lee
Updating entry 6052
Calling API for name:
first_name: anderson	middle_name: de	                   last_name: barbosa	full_name: anderson de barbosa
Updating entry 6058
Calling API for name:
first_name: min	middle_name: ho	                   last_name: jang	full_name: min ho jang
Updating entry 6061
Calling API for name:
first_name: jia	middle_name: ming	                   last_name: li	full_name: jia ming li
Updating entry 6067
Calling API for name:
first_name: zhi	middle_name: bing	                   last_name: zheng	full_name: zhi bing zheng
Updating entry 6068
Calling API for name:
first_name: chul	middle_name: won	                   last_name: park	full_name: chul won park
Updating entry 6072
Calling API for name:
first_name: lon	middle_name: yen	                   last_name: tsao	full_name: lon yen tsao
Updating entry 6085
Calling API for name:
first_name: jin	middle_name: chun	                   last_name: kim	full_name: jin chun kim
Updating entry 6087
Calling API for name:
first_name: jung	middle_name: hyun	                   last_name: kim	full_name: jung hyun kim
Updating entry 6094
Calling API for name:
first_name: cristiano	middle_name: ragagnin	                   last_name: de menezes	full_name: cristiano ragagnin de menezes
Updating entry 6105
Calling API for name:
first_name: wei	middle_name: ming	                   last_name: wang	full_name: wei ming wang
Updating entry 6106
Calling API for name:
first_name: rolf	middle_name: juergen	                   last_name: schwarz	full_name: rolf juergen schwarz
Updating entry 6116
Calling API for name:
first_name: shiang	middle_name: huei	                   last_name: jiang	full_name: shiang huei jiang
Updating entry 6119
Calling API for name:
first_name: ming	middle_name: ming	                   last_name: guo	full_name: ming ming guo
Updating entry 6121
Calling API for name:
first_name: guo	middle_name: ping	                   last_name: han	full_name: guo ping han
Updating entry 6122
Calling API for name:
first_name: chi	middle_name: ming	                   last_name: hu	full_name: chi ming hu
Updating entry 6128
Calling API for name:
first_name: rong	middle_name: keng	                   last_name: yap	full_name: rong keng yap
Updating entry 6130
Calling API for name:
first_name: chun	middle_name: hung	                   last_name: lai	full_name: chun hung lai
Updating entry 6137
Calling API for name:
first_name: dong	middle_name: hyuk	                   last_name: shin	full_name: dong hyuk shin
Updating entry 6138
Calling API for name:
first_name: hong	middle_name: ru	                   last_name: dong	full_name: hong ru dong
Updating entry 6142
Calling API for name:
first_name: chien	middle_name: hung	                   last_name: yeh	full_name: chien hung yeh
Updating entry 6144
Calling API for name:
first_name: jae	middle_name: keun	                   last_name: kim	full_name: jae keun kim
Updating entry 6145
Calling API for name:
first_name: chang	middle_name: whan	                   last_name: won	full_name: chang whan won
Updating entry 6150
Calling API for name:
first_name: britt	middle_name: maria	                   last_name: beckmann	full_name: britt maria beckmann
Updating entry 6158
Calling API for name:
first_name: jie	middle_name: jin	                   last_name: wang	full_name: jie jin wang
Updating entry 6173
Calling API for name:
first_name: shashi	middle_name: prabha	                   last_name: dubey	full_name: shashi prabha dubey
Updating entry 6177
Calling API for name:
first_name: youn	middle_name: kyung	                   last_name: lim	full_name: youn kyung lim
Updating entry 6179
Calling API for name:
first_name: jin	middle_name: sook	                   last_name: yoon	full_name: jin sook yoon
Updating entry 6184
Calling API for name:
first_name: lee	middle_name: mei	                   last_name: yap	full_name: lee mei yap
Updating entry 6199
Calling API for name:
first_name: kim	middle_name: phuong	                   last_name: vu	full_name: kim phuong vu
Updating entry 6200
Calling API for name:
first_name: sri	middle_name: devi	                   last_name: narasimhan	full_name: sri devi narasimhan
Updating entry 6203
Calling API for name:
first_name: cong	middle_name: xiao	                   last_name: wang	full_name: cong xiao wang
Updating entry 6204
Calling API for name:
first_name: chang	middle_name: hyun	                   last_name: kim	full_name: chang hyun kim
Updating entry 6211
Calling API for name:
first_name: rejane	middle_name: mansur	                   last_name: nogueira	full_name: rejane mansur nogueira
Updating entry 6216
Calling API for name:
first_name: youn	middle_name: soo	                   last_name: kim	full_name: youn soo kim
Updating entry 6220
Calling API for name:
first_name: taciana	middle_name: marco	                   last_name: ferraz caneppele	full_name: taciana marco ferraz caneppele
Updating entry 6231
Calling API for name:
first_name: kim	middle_name: butts	                   last_name: pauly	full_name: kim butts pauly
Updating entry 6243
Calling API for name:
first_name: chris	middle_name: brown	                   last_name: mahoney	full_name: chris brown mahoney
Updating entry 6245
Calling API for name:
first_name: antonia	middle_name: maria	                   last_name: das gracas lopes cito	full_name: antonia maria das gracas lopes cito
Updating entry 6249
Calling API for name:
first_name: jung	middle_name: eun	                   last_name: lee	full_name: jung eun lee
Updating entry 6257
Calling API for name:
first_name: young	middle_name: pil	                   last_name: park	full_name: young pil park
Updating entry 6259
Calling API for name:
first_name: young	middle_name: bum	                   last_name: kim	full_name: young bum kim
Updating entry 6260
Calling API for name:
first_name: jae	middle_name: woong	                   last_name: hwang	full_name: jae woong hwang
Updating entry 6262
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: vandeweerd	full_name: jean michel vandeweerd
Updating entry 6264
Calling API for name:
first_name: jin	middle_name: hee	                   last_name: woo	full_name: jin hee woo
Updating entry 6265
Calling API for name:
first_name: young	middle_name: han	                   last_name: song	full_name: young han song
Updating entry 6271
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: marty	full_name: jean louis marty
Updating entry 6272
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: dognon	full_name: jean pierre dognon
Updating entry 6273
Calling API for name:
first_name: jan	middle_name: ove	                   last_name: ebbestad	full_name: jan ove ebbestad
Updating entry 6275
Calling API for name:
first_name: jean	middle_name: marie	                   last_name: saudubray	full_name: jean marie saudubray
Updating entry 6277
Calling API for name:
first_name: su	middle_name: young	                   last_name: kim	full_name: su young kim
Updating entry 6285
Calling API for name:
first_name: chi	middle_name: sing	                   last_name: lam	full_name: chi sing lam
Updating entry 6291
Calling API for name:
first_name: chang	middle_name: geun	                   last_name: song	full_name: chang geun song
Updating entry 6292
Calling API for name:
first_name: jan	middle_name: rouke	                   last_name: kuipers	full_name: jan rouke kuipers
Updating entry 6294
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: diaz	full_name: jean jacques diaz
Updating entry 6296
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: allegret	full_name: jean pierre allegret
Updating entry 6300
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: coville	full_name: jean luc coville
Updating entry 6302
Calling API for name:
first_name: pu	middle_name: hong	                   last_name: zhang	full_name: pu hong zhang
Updating entry 6307
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: merlin	full_name: jean louis merlin
Updating entry 6311
Calling API for name:
first_name: jan	middle_name: erik	                   last_name: fosseidengen	full_name: jan erik fosseidengen
Updating entry 6313
Calling API for name:
first_name: jean	middle_name: patrice	                   last_name: robin	full_name: jean patrice robin
Updating entry 6314
Calling API for name:
first_name: hsin	middle_name: jen	                   last_name: tsai	full_name: hsin jen tsai
Updating entry 6318
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: brankart	full_name: jean michel brankart
Updating entry 6324
Calling API for name:
first_name: jan	middle_name: haug	                   last_name: anonsen	full_name: jan haug anonsen
Updating entry 6330
Calling API for name:
first_name: chi	middle_name: tim	                   last_name: ng	full_name: chi tim ng
Updating entry 6336
Calling API for name:
first_name: chang	middle_name: young	                   last_name: jang	full_name: chang young jang
Updating entry 6340
Calling API for name:
first_name: jean	middle_name: noel	                   last_name: roux	full_name: jean noel roux
Updating entry 6341
Calling API for name:
first_name: jan	middle_name: hakan	                   last_name: jansson	full_name: jan hakan jansson
Updating entry 6342
Calling API for name:
first_name: jean	middle_name: francos	                   last_name: dartigues	full_name: jean francos dartigues
Updating entry 6344
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: goujon	full_name: jean michel goujon
Updating entry 6345
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: saiter	full_name: jean marc saiter
Updating entry 6352
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: gallo	full_name: jean marc gallo
Updating entry 6356
Calling API for name:
first_name: jean	middle_name: baptiste	                   last_name: sanchez	full_name: jean baptiste sanchez
Updating entry 6359
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: robin	full_name: jean jacques robin
Updating entry 6365
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: despres	full_name: jean pierre despres
Updating entry 6372
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: morel	full_name: jean louis morel
Updating entry 6374
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: routy	full_name: jean pierre routy
Updating entry 6380
Calling API for name:
first_name: ali	middle_name: esref	                   last_name: mueezzinoglu	full_name: ali esref mueezzinoglu
Updating entry 6389
Calling API for name:
first_name: yong	middle_name: tark	                   last_name: jeon	full_name: yong tark jeon
Updating entry 6390
Calling API for name:
first_name: young	middle_name: tae	                   last_name: chang	full_name: young tae chang
Updating entry 6395
Calling API for name:
first_name: ki	middle_name: chang	                   last_name: keum	full_name: ki chang keum
Updating entry 6396
Calling API for name:
first_name: jean	middle_name: philippe	                   last_name: pin	full_name: jean philippe pin
Updating entry 6399
Calling API for name:
first_name: jan	middle_name: erik	                   last_name: svensson	full_name: jan erik svensson
Updating entry 6402
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: kraus	full_name: jean louis kraus
Updating entry 6407
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: deschanvres	full_name: jean luc deschanvres
Updating entry 6408
Calling API for name:
first_name: jean	middle_name: leon	                   last_name: thomas	full_name: jean leon thomas
Updating entry 6410
Calling API for name:
first_name: shun	middle_name: lien	                   last_name: chuang	full_name: shun lien chuang
Updating entry 6411
Calling API for name:
first_name: jean	middle_name: daniel	                   last_name: fekete	full_name: jean daniel fekete
Updating entry 6412
Calling API for name:
first_name: chi	middle_name: wing	                   last_name: fu	full_name: chi wing fu
Updating entry 6413
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: marier	full_name: jean francois marier
Updating entry 6418
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: clement	full_name: jean pierre clement
Updating entry 6421
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: mercier	full_name: jean francois mercier
Updating entry 6425
Calling API for name:
first_name: hong	middle_name: kee	                   last_name: kim	full_name: hong kee kim
Updating entry 6426
Calling API for name:
first_name: young	middle_name: jo	                   last_name: kim	full_name: young jo kim
Updating entry 6428
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: tadie	full_name: jean marc tadie
Updating entry 6431
Calling API for name:
first_name: jan	middle_name: hendrik	                   last_name: hooijberg	full_name: jan hendrik hooijberg
Updating entry 6432
Calling API for name:
first_name: jan	middle_name: ingvar	                   last_name: jonsson	full_name: jan ingvar jonsson
Updating entry 6444
Calling API for name:
first_name: young	middle_name: don	                   last_name: choi	full_name: young don choi
Updating entry 6445
Calling API for name:
first_name: jean	middle_name: baptiste	                   last_name: michel	full_name: jean baptiste michel
Updating entry 6449
Calling API for name:
first_name: hae	middle_name: ryong	                   last_name: song	full_name: hae ryong song
Updating entry 6475
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: ploteau	full_name: jean pierre ploteau
Updating entry 6476
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: besson	full_name: jean luc besson
Updating entry 6479
Calling API for name:
first_name: young	middle_name: tack	                   last_name: lee	full_name: young tack lee
Updating entry 6481
Calling API for name:
first_name: jean	middle_name: philippe	                   last_name: attane	full_name: jean philippe attane
Updating entry 6492
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: frayret	full_name: jean marc frayret
Updating entry 6494
Calling API for name:
first_name: jaime	middle_name: vilela	                   last_name: de resende	full_name: jaime vilela de resende
Updating entry 6498
Calling API for name:
first_name: chong	middle_name: tin	                   last_name: tan	full_name: chong tin tan
Updating entry 6500
Calling API for name:
first_name: jenn	middle_name: ren	                   last_name: hsiao	full_name: jenn ren hsiao
Updating entry 6504
Calling API for name:
first_name: adrian	middle_name: mihai	                   last_name: ionescu	full_name: adrian mihai ionescu
Updating entry 6506
Calling API for name:
first_name: jean	middle_name: marie	                   last_name: francois	full_name: jean marie francois
Updating entry 6508
Calling API for name:
first_name: chung	middle_name: yee	                   last_name: lee	full_name: chung yee lee
Updating entry 6511
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: cornet	full_name: jean francois cornet
Updating entry 6517
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: lareyre	full_name: jean jacques lareyre
Updating entry 6519
Calling API for name:
first_name: jan	middle_name: peter	                   last_name: embs	full_name: jan peter embs
Updating entry 6522
Calling API for name:
first_name: chung	middle_name: ming	                   last_name: leung	full_name: chung ming leung
Updating entry 6527
Calling API for name:
first_name: ji	middle_name: won	                   last_name: yang	full_name: ji won yang
Updating entry 6529
Calling API for name:
first_name: jan	middle_name: even	                   last_name: nilsen	full_name: jan even nilsen
Updating entry 6530
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: bonnemain	full_name: jean louis bonnemain
Updating entry 6531
Calling API for name:
first_name: jenn	middle_name: tai	                   last_name: liang	full_name: jenn tai liang
Updating entry 6535
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: delroisse	full_name: jean marc delroisse
Updating entry 6536
Calling API for name:
first_name: dar	middle_name: ren	                   last_name: ji	full_name: dar ren ji
Updating entry 6537
Calling API for name:
first_name: jan	middle_name: christian	                   last_name: habel	full_name: jan christian habel
Updating entry 6541
Calling API for name:
first_name: chang	middle_name: hyok	                   last_name: choi	full_name: chang hyok choi
Updating entry 6542
Calling API for name:
first_name: man	middle_name: kit	                   last_name: leung	full_name: man kit leung
Updating entry 6544
Calling API for name:
first_name: jaime	middle_name: wilson	                   last_name: vargas de mello	full_name: jaime wilson vargas de mello
Updating entry 6554
Calling API for name:
first_name: ko	middle_name: jiunn	                   last_name: liu	full_name: ko jiunn liu
Updating entry 6559
Calling API for name:
first_name: jean	middle_name: claude	                   last_name: reubi	full_name: jean claude reubi
Updating entry 6560
Calling API for name:
first_name: jean	middle_name: christophe	                   last_name: rossi	full_name: jean christophe rossi
Updating entry 6561
Calling API for name:
first_name: yong	middle_name: rak	                   last_name: kim	full_name: yong rak kim
Updating entry 6562
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: probst	full_name: jean luc probst
Updating entry 6564
Calling API for name:
first_name: pak	middle_name: yin	                   last_name: leung	full_name: pak yin leung
Updating entry 6568
Calling API for name:
first_name: jean	middle_name: frederic	                   last_name: gerbeau	full_name: jean frederic gerbeau
Updating entry 6576
Calling API for name:
first_name: chong	middle_name: jai	                   last_name: kim	full_name: chong jai kim
Updating entry 6583
Calling API for name:
first_name: jan	middle_name: maciej	                   last_name: waga	full_name: jan maciej waga
Updating entry 6588
Calling API for name:
first_name: chong	middle_name: yang	                   last_name: liu	full_name: chong yang liu
Updating entry 6589
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: olie	full_name: jean pierre olie
Updating entry 6601
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: allain	full_name: jean pierre allain
Updating entry 6607
Calling API for name:
first_name: jean	middle_name: sebastien	                   last_name: sereni	full_name: jean sebastien sereni
Updating entry 6613
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: huez	full_name: jean francois huez
Updating entry 6616

In [51]:
evaluatorNAF.compute_all_errors()
evaluatorNAF.confusion_matrix

   f_pred  m_pred  u_pred
f    1595      89     277
m     124    3113     588
u     242     650     393

### NamesAPI

In [52]:
data_source = 'all'
service_name = NamesAPIEvaluator

In [53]:
evaluatorNA = service_name(data_source)
evaluatorNA.load_data()
evaluatorNA.fetch_gender()

Reading data from dump file test_data/names_api/test_data_all_names_api.csv

#### Fix problem with 'nan' name

In [55]:
check_match_test_evaluated_data(evaluatorNA)

There is a mismatch between raw and evaluated datasets. Please fix.
right_only are entries in the raw data set. left_only in the evaluated one.

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,gender_infered,_merge
5038,,xian,chen,nan xian chen,m,nature,0.908388,MALE,m,left_only
7076,nan,xian,chen,nan xian chen,m,nature,NaN,NaN,NaN,right_only

In [56]:
# In the old test data file the first name had been incorrectly read as NaN. Put 'nan' back in
evaluatorNA.test_data.loc[5038, 'first_name'] = 'nan'

In [57]:
evaluatorNA.update_selected_records([5038])

Updating entry 5038
Calling API for name:
first_name: nan	middle_name: xian	                   last_name: chen	full_name: nan xian chen
Data updated in dump file test_data/names_api/test_data_all_names_api.csv

In [58]:
evaluatorNA.fetch_gender()

Reading data from dump file test_data/names_api/test_data_all_names_api.csv

In [59]:
check_match_test_evaluated_data(evaluatorNA)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_confidence, api_gender, gender_infered, _merge]
Index: []

#### Re-do names with middle name - since handling of connectors in the code changed after loop refactoring

In [60]:
evaluatorNA.test_data[evaluatorNA.test_data.middle_name!=''].head()

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,gender_infered
0,pierre,paul,grivel,pierre paul grivel,m,zbmath,0.873016,MALE,m
6,catherine,bouloux,marquet,catherine bouloux marquet,f,zbmath,0.901827,FEMALE,f
14,claude,joachim,hamann,claude joachim hamann,m,zbmath,1.000000,MALE,m
22,jorge,drumond,silva,jorge drumond silva,m,zbmath,0.896182,MALE,m
25,jost,hinrich,eschenburg,jost hinrich eschenburg,m,zbmath,0.866667,MALE,m

In [61]:
len(evaluatorNA.test_data[evaluatorNAF.test_data.middle_name!=''])

913

We need to re-do all those 913 cases above, since we do not know which ones came from joining first and middle name with empty connector.

In [62]:
evaluatorNA.test_data[(evaluatorNA.test_data.middle_name!='')].head(10)

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,gender_infered
0,pierre,paul,grivel,pierre paul grivel,m,zbmath,0.873016,MALE,m
6,catherine,bouloux,marquet,catherine bouloux marquet,f,zbmath,0.901827,FEMALE,f
14,claude,joachim,hamann,claude joachim hamann,m,zbmath,1.000000,MALE,m
22,jorge,drumond,silva,jorge drumond silva,m,zbmath,0.896182,MALE,m
25,jost,hinrich,eschenburg,jost hinrich eschenburg,m,zbmath,0.866667,MALE,m
44,jae,il,lee,jae il lee,u,zbmath,0.996571,MALE,m
50,boris,yakovlevich,levin,boris yakovlevich levin,m,zbmath,0.931624,MALE,m
71,marek,cezary,zdun,marek cezary zdun,m,zbmath,1.000000,MALE,m
88,pierre,loic,meliot,pierre loic meliot,m,zbmath,1.000000,MALE,m
110,douglas,john,white,douglas john white,m,zbmath,1.000000,MALE,m

In [63]:
len(evaluatorNA.test_data[(evaluatorNA.test_data.middle_name!='')])

913

In [64]:
to_update_indices = evaluatorNA.test_data[(evaluatorNA.test_data.middle_name!='')].index
to_update_indices

Int64Index([   0,    6,   14,   22,   25,   44,   50,   71,   88,  110,
            ...
            7050, 7051, 7056, 7057, 7062, 7063, 7064, 7068, 7073, 7074],
           dtype='int64', length=913)

In [65]:
evaluatorNA.update_selected_records(to_update_indices)

Updating entry 0
Calling API for name:
first_name: pierre	middle_name: paul	                   last_name: grivel	full_name: pierre paul grivel
Updating entry 6
Calling API for name:
first_name: catherine	middle_name: bouloux	                   last_name: marquet	full_name: catherine bouloux marquet
Updating entry 14
Calling API for name:
first_name: claude	middle_name: joachim	                   last_name: hamann	full_name: claude joachim hamann
Updating entry 22
Calling API for name:
first_name: jorge	middle_name: drumond	                   last_name: silva	full_name: jorge drumond silva
Updating entry 25
Calling API for name:
first_name: jost	middle_name: hinrich	                   last_name: eschenburg	full_name: jost hinrich eschenburg
Updating entry 44
Calling API for name:
first_name: jae	middle_name: il	                   last_name: lee	full_name: jae il lee
Updating entry 50
Calling API for name:
first_name: boris	middle_name: yakovlevich	                   last_name: levin	full_name: boris yakovlevich levin
Updating entry 71
Calling API for name:
first_name: marek	middle_name: cezary	                   last_name: zdun	full_name: marek cezary zdun
Updating entry 88
Calling API for name:
first_name: pierre	middle_name: loic	                   last_name: meliot	full_name: pierre loic meliot
Updating entry 110
Calling API for name:
first_name: douglas	middle_name: john	                   last_name: white	full_name: douglas john white
Updating entry 111
Calling API for name:
first_name: davy	middle_name: ho	                   last_name: chan	full_name: davy ho chan
Updating entry 114
Calling API for name:
first_name: isabel	middle_name: fraga	                   last_name: alves	full_name: isabel fraga alves
Updating entry 115
Calling API for name:
first_name: jin	middle_name: ho	                   last_name: choi	full_name: jin ho choi
Updating entry 121
Calling API for name:
first_name: john	middle_name: ren	                   last_name: chen	full_name: john ren chen
Updating entry 134
Calling API for name:
first_name: outi	middle_name: elina	                   last_name: maasalo	full_name: outi elina maasalo
Updating entry 139
Calling API for name:
first_name: marie	middle_name: francoise	                   last_name: delcroix	full_name: marie francoise delcroix
Updating entry 145
Calling API for name:
first_name: suhasini	middle_name: subba	                   last_name: rao	full_name: suhasini subba rao
Updating entry 147
Calling API for name:
first_name: david	middle_name: matthew	                   last_name: kelly	full_name: david matthew kelly
Updating entry 163
Calling API for name:
first_name: james	middle_name: murray	                   last_name: hill	full_name: james murray hill
Updating entry 180
Calling API for name:
first_name: maria	middle_name: zofia	                   last_name: banaszczyk	full_name: maria zofia banaszczyk
Updating entry 181
Calling API for name:
first_name: mehmet	middle_name: namik	                   last_name: oguztoereli	full_name: mehmet namik oguztoereli
Updating entry 187
Calling API for name:
first_name: alexei	middle_name: yu	                   last_name: karlovich	full_name: alexei yu karlovich
Updating entry 195
Calling API for name:
first_name: soo	middle_name: jin	                   last_name: kim	full_name: soo jin kim
Updating entry 218
Calling API for name:
first_name: sung	middle_name: hoon	                   last_name: hong	full_name: sung hoon hong
Updating entry 224
Calling API for name:
first_name: figen	middle_name: acil	                   last_name: kiraz	full_name: figen acil kiraz
Updating entry 238
Calling API for name:
first_name: asim	middle_name: kumar	                   last_name: mandal	full_name: asim kumar mandal
Updating entry 256
Calling API for name:
first_name: alf	middle_name: birger	                   last_name: rustad	full_name: alf birger rustad
Updating entry 266
Calling API for name:
first_name: abdel	middle_name: hadi	                   last_name: ahmed	full_name: abdel hadi ahmed
Updating entry 292
Calling API for name:
first_name: razvan	middle_name: alin	                   last_name: satnoianu	full_name: razvan alin satnoianu
Updating entry 295
Calling API for name:
first_name: huy	middle_name: thang	                   last_name: cao	full_name: huy thang cao
Updating entry 300
Calling API for name:
first_name: ben	middle_name: da	                   last_name: zhou	full_name: ben da zhou
Updating entry 310
Calling API for name:
first_name: hon	middle_name: kit	                   last_name: wai	full_name: hon kit wai
Updating entry 311
Calling API for name:
first_name: bao	middle_name: wen	                   last_name: sun	full_name: bao wen sun
Updating entry 312
Calling API for name:
first_name: byoung	middle_name: chan	                   last_name: lee	full_name: byoung chan lee
Updating entry 325
Calling API for name:
first_name: carlos	middle_name: renato	                   last_name: vazquez	full_name: carlos renato vazquez
Updating entry 327
Calling API for name:
first_name: b	middle_name: jo	                   last_name: ptashnyk	full_name: b jo ptashnyk
Updating entry 333
Calling API for name:
first_name: chao	middle_name: zhu	                   last_name: zhang	full_name: chao zhu zhang
Updating entry 342
Calling API for name:
first_name: jwu	middle_name: sheng	                   last_name: hu	full_name: jwu sheng hu
Updating entry 347
Calling API for name:
first_name: wai	middle_name: king	                   last_name: ching	full_name: wai king ching
Updating entry 348
Calling API for name:
first_name: maria	middle_name: conception	                   last_name: carvalho	full_name: maria conception carvalho
Updating entry 357
Calling API for name:
first_name: cai	middle_name: gui	                   last_name: liu	full_name: cai gui liu
Updating entry 359
Calling API for name:
first_name: jan	middle_name: tijmen	                   last_name: udding	full_name: jan tijmen udding
Updating entry 361
Calling API for name:
first_name: hsueh	middle_name: chuan	                   last_name: liu	full_name: hsueh chuan liu
Updating entry 366
Calling API for name:
first_name: frieder	middle_name: jens	                   last_name: lange	full_name: frieder jens lange
Updating entry 373
Calling API for name:
first_name: cheng	middle_name: wei	                   last_name: chen	full_name: cheng wei chen
Updating entry 378
Calling API for name:
first_name: john	middle_name: wilson	                   last_name: calkin	full_name: john wilson calkin
Updating entry 389
Calling API for name:
first_name: tack	middle_name: wang	                   last_name: lee	full_name: tack wang lee
Updating entry 422
Calling API for name:
first_name: judith	middle_name: louisa	                   last_name: schmid	full_name: judith louisa schmid
Updating entry 482
Calling API for name:
first_name: yves	middle_name: marie	                   last_name: allioux	full_name: yves marie allioux
Updating entry 495
Calling API for name:
first_name: linda	middle_name: esther	                   last_name: oray	full_name: linda esther oray
Updating entry 514
Calling API for name:
first_name: shing	middle_name: tung	                   last_name: yau	full_name: shing tung yau
Updating entry 570
Calling API for name:
first_name: diane	middle_name: romayne	                   last_name: baker	full_name: diane romayne baker
Updating entry 572
Calling API for name:
first_name: dusanka	middle_name: savic	                   last_name: pavicevic	full_name: dusanka savic pavicevic
Updating entry 589
Calling API for name:
first_name: geraldo	middle_name: vicente	                   last_name: de almeida	full_name: geraldo vicente de almeida
Updating entry 602
Calling API for name:
first_name: hyoung	middle_name: gon	                   last_name: lee	full_name: hyoung gon lee
Updating entry 606
Calling API for name:
first_name: ronald	middle_name: grigor	                   last_name: suny	full_name: ronald grigor suny
Updating entry 666
Calling API for name:
first_name: pedro	middle_name: ramon	                   last_name: gutierrez hernandez	full_name: pedro ramon gutierrez hernandez
Updating entry 705
Calling API for name:
first_name: nirmal	middle_name: kumar	                   last_name: chandra	full_name: nirmal kumar chandra
Updating entry 717
Calling API for name:
first_name: charlotte	middle_name: pomerantz	                   last_name: marzani	full_name: charlotte pomerantz marzani
Updating entry 739
Calling API for name:
first_name: pierre	middle_name: sylvain	                   last_name: filliozat	full_name: pierre sylvain filliozat
Updating entry 751
Calling API for name:
first_name: anne	middle_name: hudson	                   last_name: jones	full_name: anne hudson jones
Updating entry 782
Calling API for name:
first_name: hans	middle_name: peter	                   last_name: bruch	full_name: hans peter bruch
Updating entry 789
Calling API for name:
first_name: carol	middle_name: anne	                   last_name: costabile-heming	full_name: carol anne costabile-heming
Updating entry 795
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: pujol	full_name: jean louis pujol
Updating entry 802
Calling API for name:
first_name: karl	middle_name: heinz	                   last_name: schwalbe	full_name: karl heinz schwalbe
Updating entry 833
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: bardon	full_name: jean pierre bardon
Updating entry 885
Calling API for name:
first_name: jose	middle_name: carlos	                   last_name: mainer	full_name: jose carlos mainer
Updating entry 888
Calling API for name:
first_name: rolf	middle_name: tore	                   last_name: ottesen	full_name: rolf tore ottesen
Updating entry 898
Calling API for name:
first_name: mary	middle_name: rose	                   last_name: couper	full_name: mary rose couper
Updating entry 952
Calling API for name:
first_name: cindy	middle_name: fabian	                   last_name: mascone	full_name: cindy fabian mascone
Updating entry 967
Calling API for name:
first_name: nancy	middle_name: mary	                   last_name: adams	full_name: nancy mary adams
Updating entry 984
Calling API for name:
first_name: rob	middle_name: roy	                   last_name: kelly	full_name: rob roy kelly
Updating entry 988
Calling API for name:
first_name: allen	middle_name: purdue	                   last_name: britton	full_name: allen purdue britton
Updating entry 992
Calling API for name:
first_name: aage	middle_name: niels	                   last_name: bohr	full_name: aage niels bohr
Updating entry 995
Calling API for name:
first_name: alastair	middle_name: michael	                   last_name: porter	full_name: alastair michael douglas porter
Updating entry 996
Calling API for name:
first_name: alastair	middle_name: vincent	                   last_name: campbell	full_name: alastair vincent campbell
Updating entry 997
Calling API for name:
first_name: aldo	middle_name: ricardo	                   last_name: castaneda	full_name: aldo ricardo castaneda
Updating entry 998
Calling API for name:
first_name: aleksandr	middle_name: aleksandrovich	                   last_name: kaplyanskii	full_name: aleksandr aleksandrovich kaplyanskii
Updating entry 999
Calling API for name:
first_name: aleksandr	middle_name: petrovich	                   last_name: krylov	full_name: aleksandr petrovich krylov
Updating entry 1000
Calling API for name:
first_name: aleksandr	middle_name: yakovlevich	                   last_name: lerner	full_name: aleksandr yakovlevich lerner
Updating entry 1002
Calling API for name:
first_name: alexander	middle_name: yakovlevich	                   last_name: lerner	full_name: alexander yakovlevich lerner
Updating entry 1004
Calling API for name:
first_name: anatolii	middle_name: aleksandrovich	                   last_name: ishchenko	full_name: anatolii aleksandrovich ishchenko
Updating entry 1006
Calling API for name:
first_name: andre	middle_name: stephane	                   last_name: hamer	full_name: andre stephane hamer
Updating entry 1008
Calling API for name:
first_name: anna	middle_name: isabella	                   last_name: davison	full_name: anna isabella davison
Updating entry 1009
Calling API for name:
first_name: anne	middle_name: mary	                   last_name: buck	full_name: anne mary buck
Updating entry 1011
Calling API for name:
first_name: anthony	middle_name: francis	                   last_name: rickards	full_name: anthony francis rickards
Updating entry 1012
Calling API for name:
first_name: antony	middle_name: frank	                   last_name: francis	full_name: antony frank francis
Updating entry 1013
Calling API for name:
first_name: arsen	middle_name: ralph	                   last_name: papakhian	full_name: arsen ralph papakhian
Updating entry 1016
Calling API for name:
first_name: arthur	middle_name: philip	                   last_name: waind	full_name: arthur philip booth waind
Updating entry 1024
Calling API for name:
first_name: benedict	middle_name: john	                   last_name: barry	full_name: benedict john barry
Updating entry 1026
Calling API for name:
first_name: bertram	middle_name: neville	                   last_name: brockhouse	full_name: bertram neville brockhouse
Updating entry 1036
Calling API for name:
first_name: campbell	middle_name: grieve	                   last_name: stalker	full_name: campbell grieve stalker
Updating entry 1037
Calling API for name:
first_name: carl	middle_name: gottfried	                   last_name: semper	full_name: carl gottfried semper
Updating entry 1038
Calling API for name:
first_name: carl	middle_name: gustav	                   last_name: jung	full_name: carl gustav jung
Updating entry 1052
Calling API for name:
first_name: david	middle_name: abraham	                   last_name: katcher	full_name: david abraham katcher
Updating entry 1053
Calling API for name:
first_name: david	middle_name: hamilton	                   last_name: smith	full_name: david hamilton smith
Updating entry 1054
Calling API for name:
first_name: david	middle_name: herbert	                   last_name: donald	full_name: david herbert donald
Updating entry 1056
Calling API for name:
first_name: david	middle_name: morris	                   last_name: welborn	full_name: david morris welborn
Updating entry 1058
Calling API for name:
first_name: david	middle_name: schofield	                   last_name: jeffery	full_name: david schofield jeffery
Updating entry 1062
Calling API for name:
first_name: derek	middle_name: charles	                   last_name: robinson	full_name: derek charles robinson
Updating entry 1067
Calling API for name:
first_name: donald	middle_name: morgan	                   last_name: anderson	full_name: donald morgan anderson
Updating entry 1068
Calling API for name:
first_name: donald	middle_name: redfield	                   last_name: griffin	full_name: donald redfield griffin
Updating entry 1069
Calling API for name:
first_name: donald	middle_name: stevenson	                   last_name: pitkin	full_name: donald stevenson pitkin
Updating entry 1070
Calling API for name:
first_name: donald	middle_name: william	                   last_name: gau	full_name: donald william gau
Updating entry 1073
Calling API for name:
first_name: richard	middle_name: moreton	                   last_name: ellison	full_name: richard moreton ellison
Updating entry 1076
Calling API for name:
first_name: clifton	middle_name: fletcher	                   last_name: mountain	full_name: clifton fletcher mountain
Updating entry 1080
Calling API for name:
first_name: peer	middle_name: michael	                   last_name: portner	full_name: peer michael portner
Updating entry 1088
Calling API for name:
first_name: edmund	middle_name: neville	                   last_name: hey	full_name: edmund neville hey
Updating entry 1091
Calling API for name:
first_name: edwin	middle_name: sinclair	                   last_name: young	full_name: edwin sinclair young
Updating entry 1094
Calling API for name:
first_name: eloge	middle_name: john	                   last_name: greene	full_name: eloge john colton greene
Updating entry 1095
Calling API for name:
first_name: eric	middle_name: matheson	                   last_name: dunlop	full_name: eric matheson dunlop
Updating entry 1098
Calling API for name:
first_name: evgenii	middle_name: akimovich	                   last_name: turov	full_name: evgenii akimovich turov
Updating entry 1099
Calling API for name:
first_name: evgenii	middle_name: nikolaevich	                   last_name: avrorin	full_name: evgenii nikolaevich avrorin
Updating entry 1106
Calling API for name:
first_name: garry	middle_name: davis	                   last_name: jones	full_name: garry davis jones
Updating entry 1108
Calling API for name:
first_name: geoffrey	middle_name: john	                   last_name: pugh	full_name: geoffrey john frederick pugh
Updating entry 1109
Calling API for name:
first_name: george	middle_name: adam	                   last_name: newsholme	full_name: george adam newsholme
Updating entry 1111
Calling API for name:
first_name: george	middle_name: alfred	                   last_name: quinnell	full_name: george alfred fiske quinnell
Updating entry 1113
Calling API for name:
first_name: george	middle_name: william	                   last_name: blair	full_name: george william scott blair
Updating entry 1117
Calling API for name:
first_name: graham	middle_name: martin	                   last_name: pizzey	full_name: graham martin pizzey
Updating entry 1118
Calling API for name:
first_name: graham	middle_name: warner	                   last_name: ward	full_name: graham warner ward
Updating entry 1119
Calling API for name:
first_name: griff	middle_name: terry	                   last_name: ross	full_name: griff terry ross
Updating entry 1120
Calling API for name:
first_name: guillermo	middle_name: lohmann	                   last_name: villena	full_name: guillermo lohmann villena
Updating entry 1121
Calling API for name:
first_name: gwilym	middle_name: kenneth	                   last_name: davies	full_name: gwilym kenneth davies
Updating entry 1124
Calling API for name:
first_name: harry	middle_name: francis	                   last_name: taylor	full_name: harry francis west taylor
Updating entry 1128
Calling API for name:
first_name: herta	middle_name: julie	                   last_name: altschulova	full_name: herta julie altschulova
Updating entry 1134
Calling API for name:
first_name: john	middle_name: szentagothai	                   last_name: centennial	full_name: john szentagothai centennial
Updating entry 1144
Calling API for name:
first_name: joseph	middle_name: michael	                   last_name: foley	full_name: joseph michael foley
Updating entry 1151
Calling API for name:
first_name: igor	middle_name: ivanovich	                   last_name: volkov	full_name: igor ivanovich volkov
Updating entry 1158
Calling API for name:
first_name: leonid	middle_name: nikitovich	                   last_name: barabanov	full_name: leonid nikitovich barabanov
Updating entry 1164
Calling API for name:
first_name: frederic	middle_name: louis	                   last_name: lizzi	full_name: frederic louis lizzi
Updating entry 1165
Calling API for name:
first_name: george	middle_name: alex	                   last_name: mills	full_name: george alex mills
Updating entry 1168
Calling API for name:
first_name: lawrence	middle_name: gideon	                   last_name: raisz	full_name: lawrence gideon raisz
Updating entry 1171
Calling API for name:
first_name: margaret	middle_name: byrd	                   last_name: rawson	full_name: margaret byrd rawson
Updating entry 1176
Calling API for name:
first_name: alexei	middle_name: borisovich	                   last_name: kaidalov	full_name: alexei borisovich kaidalov
Updating entry 1186
Calling API for name:

AttributeError: 'NoneType' object has no attribute 'items'

In [66]:
to_update_remaining_indices = [ind for ind in to_update_indices if ind>3446]
len(to_update_remaining_indices)

638

In [67]:
evaluatorNA.update_selected_records(to_update_remaining_indices)

Updating entry 3451
Calling API for name:
first_name: darvi	middle_name: de	                   last_name: andre	full_name: darvi de andre
Updating entry 3453
Calling API for name:
first_name: dulcineia	middle_name: martins	                   last_name: de albuquerque	full_name: dulcineia martins de albuquerque
Updating entry 3455
Calling API for name:
first_name: siaw	middle_name: lin	                   last_name: chan	full_name: siaw lin chan
Updating entry 3457
Calling API for name:
first_name: jung	middle_name: seek	                   last_name: yang	full_name: jung seek yang
Updating entry 3462
Calling API for name:
first_name: hae	middle_name: rang	                   last_name: chung	full_name: hae rang chung
Updating entry 3471
Calling API for name:
first_name: youn	middle_name: ju	                   last_name: choi	full_name: youn ju choi
Updating entry 3478
Calling API for name:
first_name: marilia	middle_name: germanos	                   last_name: castro	full_name: marilia germanos castro
Updating entry 3485
Calling API for name:
first_name: seon	middle_name: kyoung	                   last_name: an	full_name: seon kyoung an
Updating entry 3497
Calling API for name:
first_name: hacer	middle_name: kuzu	                   last_name: okur	full_name: hacer kuzu okur
Updating entry 3505
Calling API for name:
first_name: se	middle_name: na	                   last_name: kim	full_name: se na kim
Updating entry 3508
Calling API for name:
first_name: ji	middle_name: soon	                   last_name: kim	full_name: ji soon kim
Updating entry 3519
Calling API for name:
first_name: maysa	middle_name: de	                   last_name: leite	full_name: maysa de leite
Updating entry 3523
Calling API for name:
first_name: svava	middle_name: osk	                   last_name: jonsdottir	full_name: svava osk jonsdottir
Updating entry 3530
Calling API for name:
first_name: duk	middle_name: yoon	                   last_name: kim	full_name: duk yoon kim
Updating entry 3538
Calling API for name:
first_name: jung	middle_name: sug	                   last_name: lee	full_name: jung sug lee
Updating entry 3540
Calling API for name:
first_name: elisangela	middle_name: franciscon	                   last_name: guimaro dias	full_name: elisangela franciscon guimaro dias
Updating entry 3547
Calling API for name:
first_name: azizeh	middle_name: mitra	                   last_name: yousefi	full_name: azizeh mitra yousefi
Updating entry 3553
Calling API for name:
first_name: roozbeh	middle_name: javad	                   last_name: kalbasi	full_name: roozbeh javad kalbasi
Updating entry 3595
Calling API for name:
first_name: puay	middle_name: hoon	                   last_name: tan	full_name: puay hoon tan
Updating entry 3598
Calling API for name:
first_name: ahter	middle_name: dilsad	                   last_name: sanlioglu	full_name: ahter dilsad sanlioglu
Updating entry 3602
Calling API for name:
first_name: moy	middle_name: fong	                   last_name: chen	full_name: moy fong chen
Updating entry 3606
Calling API for name:
first_name: renny	middle_name: kurnia	                   last_name: hadiaty	full_name: renny kurnia hadiaty
Updating entry 3607
Calling API for name:
first_name: koon	middle_name: gee	                   last_name: neoh	full_name: koon gee neoh
Updating entry 3610
Calling API for name:
first_name: yoon	middle_name: ju	                   last_name: song	full_name: yoon ju song
Updating entry 3625
Calling API for name:
first_name: gulsen	middle_name: tukenmez	                   last_name: demirci	full_name: gulsen tukenmez demirci
Updating entry 3634
Calling API for name:
first_name: kyoung	middle_name: hee	                   last_name: nam	full_name: kyoung hee nam
Updating entry 3637
Calling API for name:
first_name: ju	middle_name: dong	                   last_name: lee	full_name: ju dong lee
Updating entry 3647
Calling API for name:
first_name: kyu	middle_name: han	                   last_name: kim	full_name: kyu han kim
Updating entry 3648
Calling API for name:
first_name: jhi	middle_name: joung	                   last_name: wang	full_name: jhi joung wang
Updating entry 3674
Calling API for name:
first_name: beg	middle_name: hab	                   last_name: kim	full_name: beg hab kim
Updating entry 3681
Calling API for name:
first_name: mou	middle_name: sheng	                   last_name: liu	full_name: mou sheng liu
Updating entry 3687
Calling API for name:
first_name: jeong	middle_name: seop	                   last_name: sim	full_name: jeong seop sim
Updating entry 3693
Calling API for name:
first_name: shyh	middle_name: yuan	                   last_name: lee	full_name: shyh yuan lee
Updating entry 3699
Calling API for name:
first_name: ok	middle_name: keun	                   last_name: song	full_name: ok keun song
Updating entry 3704
Calling API for name:
first_name: seung	middle_name: joo	                   last_name: kim	full_name: seung joo kim
Updating entry 3719
Calling API for name:
first_name: mor	middle_name: mordechai	                   last_name: peretz	full_name: mor mordechai peretz
Updating entry 3725
Calling API for name:
first_name: hyun	middle_name: kuk	                   last_name: park	full_name: hyun kuk park
Updating entry 3755
Calling API for name:
first_name: seog	middle_name: joo	                   last_name: kim	full_name: seog joo kim
Updating entry 3762
Calling API for name:
first_name: sameh	middle_name: saad	                   last_name: ali	full_name: sameh saad ali
Updating entry 3770
Calling API for name:
first_name: cihan	middle_name: cem	                   last_name: gurbuz	full_name: cihan cem gurbuz
Updating entry 3777
Calling API for name:
first_name: jorim	middle_name: sousa	                   last_name: das virgens filho	full_name: jorim sousa das virgens filho
Updating entry 3782
Calling API for name:
first_name: hwan	middle_name: you	                   last_name: chang	full_name: hwan you chang
Updating entry 3794
Calling API for name:
first_name: choon	middle_name: hua	                   last_name: thng	full_name: choon hua thng
Updating entry 3795
Calling API for name:
first_name: woel	middle_name: kyu	                   last_name: ha	full_name: woel kyu ha
Updating entry 3796
Calling API for name:
first_name: won	middle_name: tae	                   last_name: kwon	full_name: won tae kwon
Updating entry 3799
Calling API for name:
first_name: ding	middle_name: ming	                   last_name: wang	full_name: ding ming wang
Updating entry 3807
Calling API for name:
first_name: hang	middle_name: rae	                   last_name: kim	full_name: hang rae kim
Updating entry 3818
Calling API for name:
first_name: shing	middle_name: shun	                   last_name: to	full_name: shing shun to
Updating entry 3820
Calling API for name:
first_name: augusciak	middle_name: duma	                   last_name: aleksandra	full_name: augusciak duma aleksandra
Updating entry 3837
Calling API for name:
first_name: sok	middle_name: kyu	                   last_name: lee	full_name: sok kyu lee
Updating entry 3844
Calling API for name:
first_name: ik	middle_name: jin	                   last_name: kim	full_name: ik jin kim
Updating entry 3858
Calling API for name:
first_name: boon	middle_name: chye	                   last_name: ching	full_name: boon chye ching
Updating entry 3878
Calling API for name:
first_name: zhang	middle_name: wei	                   last_name: song	full_name: zhang wei song
Updating entry 3892
Calling API for name:
first_name: wing	middle_name: leong	                   last_name: teo	full_name: wing leong teo
Updating entry 3910
Calling API for name:
first_name: nor	middle_name: eddine	                   last_name: sounni	full_name: nor eddine sounni
Updating entry 3914
Calling API for name:
first_name: hoang	middle_name: viet	                   last_name: nguyen	full_name: hoang viet nguyen
Updating entry 3915
Calling API for name:
first_name: chilla	middle_name: malla	                   last_name: reddy	full_name: chilla malla reddy
Updating entry 3925
Calling API for name:
first_name: kyu	middle_name: hwang	                   last_name: yeon	full_name: kyu hwang yeon
Updating entry 3936
Calling API for name:
first_name: hyung	middle_name: joun	                   last_name: yoo	full_name: hyung joun yoo
Updating entry 3961
Calling API for name:
first_name: woon	middle_name: khiong	                   last_name: chan	full_name: woon khiong chan
Updating entry 3992
Calling API for name:
first_name: hyun	middle_name: myung	                   last_name: jang	full_name: hyun myung jang
Updating entry 3997
Calling API for name:
first_name: jeong	middle_name: gu	                   last_name: lee	full_name: jeong gu lee
Updating entry 3999
Calling API for name:
first_name: hyun	middle_name: gyoo	                   last_name: shin	full_name: hyun gyoo shin
Updating entry 4002
Calling API for name:
first_name: seyed	middle_name: abbas	                   last_name: shojaosadati	full_name: seyed abbas shojaosadati
Updating entry 4003
Calling API for name:
first_name: myeong	middle_name: ok	                   last_name: kim	full_name: myeong ok kim
Updating entry 4019
Calling API for name:
first_name: boon	middle_name: hian	                   last_name: loo	full_name: boon hian loo
Updating entry 4022
Calling API for name:
first_name: en	middle_name: tang	                   last_name: kang	full_name: en tang kang
Updating entry 4024
Calling API for name:
first_name: kyu	middle_name: tek	                   last_name: park	full_name: kyu tek park
Updating entry 4029
Calling API for name:
first_name: chorng	middle_name: haur	                   last_name: sow	full_name: chorng haur sow
Updating entry 4043
Calling API for name:
first_name: sze	middle_name: ki	                   last_name: luk	full_name: sze ki luk
Updating entry 4050
Calling API for name:
first_name: edson	middle_name: hyidu	                   last_name: mizobutsi	full_name: edson hyidu mizobutsi
Updating entry 4053
Calling API for name:
first_name: jee	middle_name: hian	                   last_name: tan	full_name: jee hian tan
Updating entry 4075
Calling API for name:
first_name: tai	middle_name: hyoung	                   last_name: cho	full_name: tai hyoung cho
Updating entry 4085
Calling API for name:
first_name: suk	middle_name: in	                   last_name: noh	full_name: suk in noh
Updating entry 4092
Calling API for name:
first_name: hann	middle_name: chorng	                   last_name: kuo	full_name: hann chorng kuo
Updating entry 4093
Calling API for name:
first_name: kyung	middle_name: sub	                   last_name: kim	full_name: kyung sub kim
Updating entry 4097
Calling API for name:
first_name: jong	middle_name: hyeon	                   last_name: peck	full_name: jong hyeon peck
Updating entry 4107
Calling API for name:
first_name: kurinchi	middle_name: selvan	                   last_name: gurusamy	full_name: kurinchi selvan gurusamy
Updating entry 4113
Calling API for name:
first_name: jeong	middle_name: zoo	                   last_name: lee	full_name: jeong zoo lee
Updating entry 4139
Calling API for name:
first_name: abolfazl	middle_name: (kouros)	                   last_name: mohammadian	full_name: abolfazl (kouros) mohammadian
Updating entry 4144
Calling API for name:
first_name: ik	middle_name: hyun	                   last_name: cho	full_name: ik hyun cho
Updating entry 4172
Calling API for name:
first_name: won	middle_name: seung	                   last_name: cho	full_name: won seung cho
Updating entry 4175
Calling API for name:
first_name: jung	middle_name: bong	                   last_name: kim	full_name: jung bong kim
Updating entry 4198
Calling API for name:
first_name: mee	middle_name: ree	                   last_name: kim	full_name: mee ree kim
Updating entry 4200
Calling API for name:
first_name: sheau	middle_name: chiou	                   last_name: chao	full_name: sheau chiou chao
Updating entry 4202
Calling API for name:
first_name: gee	middle_name: yeng	                   last_name: tien	full_name: gee yeng tien
Updating entry 4214
Calling API for name:
first_name: soo	middle_name: muk	                   last_name: cho	full_name: soo muk cho
Updating entry 4221
Calling API for name:
first_name: chew	middle_name: wun	                   last_name: wu	full_name: chew wun wu
Updating entry 4236
Calling API for name:
first_name: mahboobe	middle_name: ghorbani	                   last_name: ravandi	full_name: mahboobe ghorbani ravandi
Updating entry 4253
Calling API for name:
first_name: do	middle_name: suk	                   last_name: han	full_name: do suk han
Updating entry 4262
Calling API for name:
first_name: jye	middle_name: lin	                   last_name: hsu	full_name: jye lin hsu
Updating entry 4265
Calling API for name:
first_name: chuti	middle_name: on	                   last_name: kanwatanakid-savini	full_name: chuti on kanwatanakid-savini
Updating entry 4276
Calling API for name:
first_name: biing	middle_name: teo	                   last_name: wong	full_name: biing teo wong
Updating entry 4278
Calling API for name:
first_name: maria	middle_name: grazia	                   last_name: fumo	full_name: maria grazia fumo
Updating entry 4279
Calling API for name:
first_name: elida	middle_name: nora	                   last_name: ferri	full_name: elida nora ferri
Updating entry 4294
Calling API for name:
first_name: anne	middle_name: laure	                   last_name: jarnoux	full_name: anne laure jarnoux
Updating entry 4305
Calling API for name:
first_name: anabela	middle_name: bernardes	                   last_name: da silva	full_name: anabela bernardes da silva
Updating entry 4306
Calling API for name:
first_name: susana	middle_name: de	                   last_name: araujo	full_name: susana de araujo
Updating entry 4311
Calling API for name:
first_name: young	middle_name: mi	                   last_name: park	full_name: young mi park
Updating entry 4314
Calling API for name:
first_name: silvia	middle_name: helena	                   last_name: prado bettini	full_name: silvia helena prado bettini
Updating entry 4325
Calling API for name:
first_name: hsiu	middle_name: fung	                   last_name: cheng	full_name: hsiu fung cheng
Updating entry 4340
Calling API for name:
first_name: gui	middle_name: li	                   last_name: wang	full_name: gui li wang
Updating entry 4345
Calling API for name:
first_name: fang	middle_name: fang	                   last_name: dang	full_name: fang fang dang
Updating entry 4349
Calling API for name:
first_name: fabiana	middle_name: fioretti	                   last_name: martins ferreira	full_name: fabiana fioretti martins ferreira
Updating entry 4350
Calling API for name:
first_name: carmen	middle_name: baur	                   last_name: vieira	full_name: carmen baur vieira
Updating entry 4351
Calling API for name:
first_name: patricia	middle_name: aparecida	                   last_name: fontes vieira	full_name: patricia aparecida fontes vieira
Updating entry 4353
Calling API for name:
first_name: claudia	middle_name: regina	                   last_name: dias-areira	full_name: claudia regina dias-areira
Updating entry 4371
Calling API for name:
first_name: ching	middle_name: hsia	                   last_name: hung	full_name: ching hsia hung
Updating entry 4378
Calling API for name:
first_name: maria	middle_name: teresa	                   last_name: de magistris	full_name: maria teresa de magistris
Updating entry 4379
Calling API for name:
first_name: so	middle_name: young	                   last_name: yoo	full_name: so young yoo
Updating entry 4386
Calling API for name:
first_name: carol	middle_name: bishop	                   last_name: mills	full_name: carol bishop mills
Updating entry 4400
Calling API for name:
first_name: mary	middle_name: kay	                   last_name: crepinsek	full_name: mary kay crepinsek
Updating entry 4405
Calling API for name:
first_name: gordana	middle_name: buljan	                   last_name: flander	full_name: gordana buljan flander
Updating entry 4406
Calling API for name:
first_name: ana	middle_name: cristina	                   last_name: de moraes	full_name: ana cristina de moraes
Updating entry 4407
Calling API for name:
first_name: georgina	middle_name: catherine	                   last_name: hughes	full_name: georgina catherine hughes
Updating entry 4423
Calling API for name:
first_name: theresa	middle_name: sinicrope	                   last_name: talley	full_name: theresa sinicrope talley
Updating entry 4434
Calling API for name:
first_name: mary	middle_name: anne	                   last_name: simpson	full_name: mary anne simpson
Updating entry 4437
Calling API for name:
first_name: marcela	middle_name: rosana	                   last_name: da silva santos	full_name: marcela rosana da silva santos
Updating entry 4439
Calling API for name:
first_name: natasa	middle_name: zabukovec	                   last_name: logar	full_name: natasa zabukovec logar
Updating entry 4445
Calling API for name:
first_name: rita	middle_name: annoni	                   last_name: manghi	full_name: rita annoni manghi
Updating entry 4452
Calling API for name:
first_name: ann	middle_name: christine	                   last_name: ehlis	full_name: ann christine ehlis
Updating entry 4453
Calling API for name:
first_name: aylin	middle_name: fidan	                   last_name: korcum	full_name: aylin fidan korcum
Updating entry 4459
Calling API for name:
first_name: sara	middle_name: fisher	                   last_name: ellison	full_name: sara fisher ellison
Updating entry 4467
Calling API for name:
first_name: clarice	middle_name: nunes	                   last_name: dias	full_name: clarice nunes dias
Updating entry 4505
Calling API for name:
first_name: amy	middle_name: joan	                   last_name: ham	full_name: amy joan ham
Updating entry 4509
Calling API for name:
first_name: laura	middle_name: lowe	                   last_name: furge	full_name: laura lowe furge
Updating entry 4512
Calling API for name:
first_name: min	middle_name: kyoung	                   last_name: kim	full_name: min kyoung kim
Updating entry 4521
Calling API for name:
first_name: mary	middle_name: ann	                   last_name: dombrink-kurtzman	full_name: mary ann dombrink-kurtzman
Updating entry 4523
Calling API for name:
first_name: ella	middle_name: fung	                   last_name: jones	full_name: ella fung jones
Updating entry 4524
Calling API for name:
first_name: mei	middle_name: hsiu	                   last_name: pan	full_name: mei hsiu pan
Updating entry 4552
Calling API for name:
first_name: shiow	middle_name: ling	                   last_name: lee	full_name: shiow ling lee
Updating entry 4588
Calling API for name:
first_name: erika	middle_name: cristina	                   last_name: pavarina	full_name: erika cristina pavarina
Updating entry 4589
Calling API for name:
first_name: isis	middle_name: serrano	                   last_name: silva	full_name: isis serrano silva
Updating entry 4601
Calling API for name:
first_name: fernanda	middle_name: rodrigues	                   last_name: fernandes	full_name: fernanda rodrigues fernandes
Updating entry 4604
Calling API for name:
first_name: kay	middle_name: tee	                   last_name: khaw	full_name: kay tee khaw
Updating entry 4615
Calling API for name:
first_name: vera	middle_name: helen	                   last_name: rees	full_name: vera helen rees
Updating entry 4632
Calling API for name:
first_name: flavia	middle_name: de	                   last_name: alves	full_name: flavia de alves
Updating entry 4641
Calling API for name:
first_name: eunice	middle_name: maia	                   last_name: de andrade	full_name: eunice maia de andrade
Updating entry 4644
Calling API for name:
first_name: marie	middle_name: louise	                   last_name: fjallskog	full_name: marie louise fjallskog
Updating entry 4647
Calling API for name:

KeyError: 'INDETERMINABLE'

The code couldn't handle the 'INDETERMINABLE' key. Let's fix it manually and commit a patch in evaluators.py.

Note that this name is INDETERMINABLE b/c it's wrongly split in "Surname, Name". It should be: "Pimenta de Figueiredo, Flavio"

In [70]:
evaluatorNA.test_data[(evaluatorNA.test_data.index.isin(list(to_update_indices))) \
                       & (evaluatorNA.test_data.full_name=='flavio pimenta de figueiredo')]

,first_name,middle_name,last_name,full_name,gender,origin,api_confidence,api_gender,gender_infered
5919,flavio,pimenta,de figueiredo,flavio pimenta de figueiredo,u,nature,1.0,INDETERMINABLE,INDETERMINABLE

In [72]:
evaluatorNA.test_data.loc[5919, 'gender_infered'] = 'u'

In [73]:
to_update_remaining_indices = [ind for ind in to_update_indices if ind>5919]
len(to_update_remaining_indices)

319

In [74]:
evaluatorNA.update_selected_records(to_update_remaining_indices)

Updating entry 5936
Calling API for name:
first_name: young	middle_name: mo	                   last_name: koo	full_name: young mo koo
Updating entry 5937
Calling API for name:
first_name: long	middle_name: jiang	                   last_name: zhang	full_name: long jiang zhang
Updating entry 5945
Calling API for name:
first_name: kai	middle_name: ming	                   last_name: you	full_name: kai ming you
Updating entry 5946
Calling API for name:
first_name: zhi	middle_name: hui	                   last_name: xu	full_name: zhi hui xu
Updating entry 5947
Calling API for name:
first_name: kuo	middle_name: hung	                   last_name: huang	full_name: kuo hung huang
Updating entry 5948
Calling API for name:
first_name: costin	middle_name: sorin	                   last_name: bildea	full_name: costin sorin bildea
Updating entry 5950
Calling API for name:
first_name: el	middle_name: hassan	                   last_name: hamdani	full_name: el hassan hamdani
Updating entry 5958
Calling API for name:
first_name: acaio	middle_name: zuniga	                   last_name: leite	full_name: acaio zuniga leite
Updating entry 5959
Calling API for name:
first_name: chien	middle_name: ping	                   last_name: chiang	full_name: chien ping chiang
Updating entry 5967
Calling API for name:
first_name: ji	middle_name: heon	                   last_name: park	full_name: ji heon park
Updating entry 5980
Calling API for name:
first_name: leonardo	middle_name: henrique	                   last_name: gomes	full_name: leonardo henrique gomes
Updating entry 5991
Calling API for name:
first_name: ill	middle_name: min	                   last_name: chung	full_name: ill min chung
Updating entry 5993
Calling API for name:
first_name: seung	middle_name: hoon	                   last_name: lee	full_name: seung hoon lee
Updating entry 5994
Calling API for name:
first_name: xiao	middle_name: hua	                   last_name: yuan	full_name: xiao hua yuan
Updating entry 5998
Calling API for name:
first_name: hong	middle_name: yan	                   last_name: lu	full_name: hong yan lu
Updating entry 6000
Calling API for name:
first_name: hao	middle_name: chieh	                   last_name: hsieh	full_name: hao chieh hsieh
Updating entry 6011
Calling API for name:
first_name: sung	middle_name: soo	                   last_name: park	full_name: sung soo park
Updating entry 6013
Calling API for name:
first_name: zheng	middle_name: de	                   last_name: deng	full_name: zheng de deng
Updating entry 6015
Calling API for name:
first_name: cun	middle_name: gang	                   last_name: fan	full_name: cun gang fan
Updating entry 6016
Calling API for name:
first_name: shi	middle_name: yong	                   last_name: fan	full_name: shi yong fan
Updating entry 6033
Calling API for name:
first_name: guang	middle_name: xi	                   last_name: xing	full_name: guang xi xing
Updating entry 6035
Calling API for name:
first_name: pedro	middle_name: luis	                   last_name: da costa aguiar alves	full_name: pedro luis da costa aguiar alves
Updating entry 6044
Calling API for name:
first_name: jose	middle_name: teixeira	                   last_name: de seixas filho	full_name: jose teixeira de seixas filho
Updating entry 6051
Calling API for name:
first_name: beom	middle_name: jin	                   last_name: lee	full_name: beom jin lee
Updating entry 6052
Calling API for name:
first_name: anderson	middle_name: de	                   last_name: barbosa	full_name: anderson de barbosa
Updating entry 6058
Calling API for name:
first_name: min	middle_name: ho	                   last_name: jang	full_name: min ho jang
Updating entry 6061
Calling API for name:
first_name: jia	middle_name: ming	                   last_name: li	full_name: jia ming li
Updating entry 6067
Calling API for name:
first_name: zhi	middle_name: bing	                   last_name: zheng	full_name: zhi bing zheng
Updating entry 6068
Calling API for name:
first_name: chul	middle_name: won	                   last_name: park	full_name: chul won park
Updating entry 6072
Calling API for name:
first_name: lon	middle_name: yen	                   last_name: tsao	full_name: lon yen tsao
Updating entry 6085
Calling API for name:
first_name: jin	middle_name: chun	                   last_name: kim	full_name: jin chun kim
Updating entry 6087
Calling API for name:
first_name: jung	middle_name: hyun	                   last_name: kim	full_name: jung hyun kim
Updating entry 6094
Calling API for name:
first_name: cristiano	middle_name: ragagnin	                   last_name: de menezes	full_name: cristiano ragagnin de menezes
Updating entry 6105
Calling API for name:
first_name: wei	middle_name: ming	                   last_name: wang	full_name: wei ming wang
Updating entry 6106
Calling API for name:
first_name: rolf	middle_name: juergen	                   last_name: schwarz	full_name: rolf juergen schwarz
Updating entry 6116
Calling API for name:
first_name: shiang	middle_name: huei	                   last_name: jiang	full_name: shiang huei jiang
Updating entry 6119
Calling API for name:
first_name: ming	middle_name: ming	                   last_name: guo	full_name: ming ming guo
Updating entry 6121
Calling API for name:
first_name: guo	middle_name: ping	                   last_name: han	full_name: guo ping han
Updating entry 6122
Calling API for name:
first_name: chi	middle_name: ming	                   last_name: hu	full_name: chi ming hu
Updating entry 6128
Calling API for name:
first_name: rong	middle_name: keng	                   last_name: yap	full_name: rong keng yap
Updating entry 6130
Calling API for name:
first_name: chun	middle_name: hung	                   last_name: lai	full_name: chun hung lai
Updating entry 6137
Calling API for name:
first_name: dong	middle_name: hyuk	                   last_name: shin	full_name: dong hyuk shin
Updating entry 6138
Calling API for name:
first_name: hong	middle_name: ru	                   last_name: dong	full_name: hong ru dong
Updating entry 6142
Calling API for name:
first_name: chien	middle_name: hung	                   last_name: yeh	full_name: chien hung yeh
Updating entry 6144
Calling API for name:
first_name: jae	middle_name: keun	                   last_name: kim	full_name: jae keun kim
Updating entry 6145
Calling API for name:
first_name: chang	middle_name: whan	                   last_name: won	full_name: chang whan won
Updating entry 6150
Calling API for name:
first_name: britt	middle_name: maria	                   last_name: beckmann	full_name: britt maria beckmann
Updating entry 6158
Calling API for name:
first_name: jie	middle_name: jin	                   last_name: wang	full_name: jie jin wang
Updating entry 6173
Calling API for name:
first_name: shashi	middle_name: prabha	                   last_name: dubey	full_name: shashi prabha dubey
Updating entry 6177
Calling API for name:
first_name: youn	middle_name: kyung	                   last_name: lim	full_name: youn kyung lim
Updating entry 6179
Calling API for name:
first_name: jin	middle_name: sook	                   last_name: yoon	full_name: jin sook yoon
Updating entry 6184
Calling API for name:
first_name: lee	middle_name: mei	                   last_name: yap	full_name: lee mei yap
Updating entry 6199
Calling API for name:
first_name: kim	middle_name: phuong	                   last_name: vu	full_name: kim phuong vu
Updating entry 6200
Calling API for name:
first_name: sri	middle_name: devi	                   last_name: narasimhan	full_name: sri devi narasimhan
Updating entry 6203
Calling API for name:
first_name: cong	middle_name: xiao	                   last_name: wang	full_name: cong xiao wang
Updating entry 6204
Calling API for name:
first_name: chang	middle_name: hyun	                   last_name: kim	full_name: chang hyun kim
Updating entry 6211
Calling API for name:
first_name: rejane	middle_name: mansur	                   last_name: nogueira	full_name: rejane mansur nogueira
Updating entry 6216
Calling API for name:
first_name: youn	middle_name: soo	                   last_name: kim	full_name: youn soo kim
Updating entry 6220
Calling API for name:
first_name: taciana	middle_name: marco	                   last_name: ferraz caneppele	full_name: taciana marco ferraz caneppele
Updating entry 6231
Calling API for name:
first_name: kim	middle_name: butts	                   last_name: pauly	full_name: kim butts pauly
Updating entry 6243
Calling API for name:
first_name: chris	middle_name: brown	                   last_name: mahoney	full_name: chris brown mahoney
Updating entry 6245
Calling API for name:
first_name: antonia	middle_name: maria	                   last_name: das gracas lopes cito	full_name: antonia maria das gracas lopes cito
Updating entry 6249
Calling API for name:
first_name: jung	middle_name: eun	                   last_name: lee	full_name: jung eun lee
Updating entry 6257
Calling API for name:
first_name: young	middle_name: pil	                   last_name: park	full_name: young pil park
Updating entry 6259
Calling API for name:
first_name: young	middle_name: bum	                   last_name: kim	full_name: young bum kim
Updating entry 6260
Calling API for name:
first_name: jae	middle_name: woong	                   last_name: hwang	full_name: jae woong hwang
Updating entry 6262
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: vandeweerd	full_name: jean michel vandeweerd
Updating entry 6264
Calling API for name:
first_name: jin	middle_name: hee	                   last_name: woo	full_name: jin hee woo
Updating entry 6265
Calling API for name:
first_name: young	middle_name: han	                   last_name: song	full_name: young han song
Updating entry 6271
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: marty	full_name: jean louis marty
Updating entry 6272
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: dognon	full_name: jean pierre dognon
Updating entry 6273
Calling API for name:
first_name: jan	middle_name: ove	                   last_name: ebbestad	full_name: jan ove ebbestad
Updating entry 6275
Calling API for name:
first_name: jean	middle_name: marie	                   last_name: saudubray	full_name: jean marie saudubray
Updating entry 6277
Calling API for name:
first_name: su	middle_name: young	                   last_name: kim	full_name: su young kim
Updating entry 6285
Calling API for name:
first_name: chi	middle_name: sing	                   last_name: lam	full_name: chi sing lam
Updating entry 6291
Calling API for name:
first_name: chang	middle_name: geun	                   last_name: song	full_name: chang geun song
Updating entry 6292
Calling API for name:
first_name: jan	middle_name: rouke	                   last_name: kuipers	full_name: jan rouke kuipers
Updating entry 6294
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: diaz	full_name: jean jacques diaz
Updating entry 6296
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: allegret	full_name: jean pierre allegret
Updating entry 6300
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: coville	full_name: jean luc coville
Updating entry 6302
Calling API for name:
first_name: pu	middle_name: hong	                   last_name: zhang	full_name: pu hong zhang
Updating entry 6307
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: merlin	full_name: jean louis merlin
Updating entry 6311
Calling API for name:
first_name: jan	middle_name: erik	                   last_name: fosseidengen	full_name: jan erik fosseidengen
Updating entry 6313
Calling API for name:
first_name: jean	middle_name: patrice	                   last_name: robin	full_name: jean patrice robin
Updating entry 6314
Calling API for name:
first_name: hsin	middle_name: jen	                   last_name: tsai	full_name: hsin jen tsai
Updating entry 6318
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: brankart	full_name: jean michel brankart
Updating entry 6324
Calling API for name:
first_name: jan	middle_name: haug	                   last_name: anonsen	full_name: jan haug anonsen
Updating entry 6330
Calling API for name:
first_name: chi	middle_name: tim	                   last_name: ng	full_name: chi tim ng
Updating entry 6336
Calling API for name:
first_name: chang	middle_name: young	                   last_name: jang	full_name: chang young jang
Updating entry 6340
Calling API for name:
first_name: jean	middle_name: noel	                   last_name: roux	full_name: jean noel roux
Updating entry 6341
Calling API for name:
first_name: jan	middle_name: hakan	                   last_name: jansson	full_name: jan hakan jansson
Updating entry 6342
Calling API for name:
first_name: jean	middle_name: francos	                   last_name: dartigues	full_name: jean francos dartigues
Updating entry 6344
Calling API for name:
first_name: jean	middle_name: michel	                   last_name: goujon	full_name: jean michel goujon
Updating entry 6345
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: saiter	full_name: jean marc saiter
Updating entry 6352
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: gallo	full_name: jean marc gallo
Updating entry 6356
Calling API for name:
first_name: jean	middle_name: baptiste	                   last_name: sanchez	full_name: jean baptiste sanchez
Updating entry 6359
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: robin	full_name: jean jacques robin
Updating entry 6365
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: despres	full_name: jean pierre despres
Updating entry 6372
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: morel	full_name: jean louis morel
Updating entry 6374
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: routy	full_name: jean pierre routy
Updating entry 6380
Calling API for name:
first_name: ali	middle_name: esref	                   last_name: mueezzinoglu	full_name: ali esref mueezzinoglu
Updating entry 6389
Calling API for name:
first_name: yong	middle_name: tark	                   last_name: jeon	full_name: yong tark jeon
Updating entry 6390
Calling API for name:
first_name: young	middle_name: tae	                   last_name: chang	full_name: young tae chang
Updating entry 6395
Calling API for name:
first_name: ki	middle_name: chang	                   last_name: keum	full_name: ki chang keum
Updating entry 6396
Calling API for name:
first_name: jean	middle_name: philippe	                   last_name: pin	full_name: jean philippe pin
Updating entry 6399
Calling API for name:
first_name: jan	middle_name: erik	                   last_name: svensson	full_name: jan erik svensson
Updating entry 6402
Calling API for name:
first_name: jean	middle_name: louis	                   last_name: kraus	full_name: jean louis kraus
Updating entry 6407
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: deschanvres	full_name: jean luc deschanvres
Updating entry 6408
Calling API for name:
first_name: jean	middle_name: leon	                   last_name: thomas	full_name: jean leon thomas
Updating entry 6410
Calling API for name:
first_name: shun	middle_name: lien	                   last_name: chuang	full_name: shun lien chuang
Updating entry 6411
Calling API for name:
first_name: jean	middle_name: daniel	                   last_name: fekete	full_name: jean daniel fekete
Updating entry 6412
Calling API for name:
first_name: chi	middle_name: wing	                   last_name: fu	full_name: chi wing fu
Updating entry 6413
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: marier	full_name: jean francois marier
Updating entry 6418
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: clement	full_name: jean pierre clement
Updating entry 6421
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: mercier	full_name: jean francois mercier
Updating entry 6425
Calling API for name:
first_name: hong	middle_name: kee	                   last_name: kim	full_name: hong kee kim
Updating entry 6426
Calling API for name:
first_name: young	middle_name: jo	                   last_name: kim	full_name: young jo kim
Updating entry 6428
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: tadie	full_name: jean marc tadie
Updating entry 6431
Calling API for name:
first_name: jan	middle_name: hendrik	                   last_name: hooijberg	full_name: jan hendrik hooijberg
Updating entry 6432
Calling API for name:
first_name: jan	middle_name: ingvar	                   last_name: jonsson	full_name: jan ingvar jonsson
Updating entry 6444
Calling API for name:
first_name: young	middle_name: don	                   last_name: choi	full_name: young don choi
Updating entry 6445
Calling API for name:
first_name: jean	middle_name: baptiste	                   last_name: michel	full_name: jean baptiste michel
Updating entry 6449
Calling API for name:
first_name: hae	middle_name: ryong	                   last_name: song	full_name: hae ryong song
Updating entry 6475
Calling API for name:
first_name: jean	middle_name: pierre	                   last_name: ploteau	full_name: jean pierre ploteau
Updating entry 6476
Calling API for name:
first_name: jean	middle_name: luc	                   last_name: besson	full_name: jean luc besson
Updating entry 6479
Calling API for name:
first_name: young	middle_name: tack	                   last_name: lee	full_name: young tack lee
Updating entry 6481
Calling API for name:
first_name: jean	middle_name: philippe	                   last_name: attane	full_name: jean philippe attane
Updating entry 6492
Calling API for name:
first_name: jean	middle_name: marc	                   last_name: frayret	full_name: jean marc frayret
Updating entry 6494
Calling API for name:
first_name: jaime	middle_name: vilela	                   last_name: de resende	full_name: jaime vilela de resende
Updating entry 6498
Calling API for name:
first_name: chong	middle_name: tin	                   last_name: tan	full_name: chong tin tan
Updating entry 6500
Calling API for name:
first_name: jenn	middle_name: ren	                   last_name: hsiao	full_name: jenn ren hsiao
Updating entry 6504
Calling API for name:
first_name: adrian	middle_name: mihai	                   last_name: ionescu	full_name: adrian mihai ionescu
Updating entry 6506
Calling API for name:
first_name: jean	middle_name: marie	                   last_name: francois	full_name: jean marie francois
Updating entry 6508
Calling API for name:
first_name: chung	middle_name: yee	                   last_name: lee	full_name: chung yee lee
Updating entry 6511
Calling API for name:
first_name: jean	middle_name: francois	                   last_name: cornet	full_name: jean francois cornet
Updating entry 6517
Calling API for name:
first_name: jean	middle_name: jacques	                   last_name: lareyre	full_name: jean jacques lareyre
Updating entry 6519
Calling API for name:
first_name: jan	middle_name: peter	                   last_name: embs	full_name: jan peter embs
Updating entry 6522
Calling API for name:
first_name: chung	middle_name: ming	                   last_name: leung	full_name: chung ming leung
Updating entry 6527
Calling API for name:
first_name: ji	middle_name: won	                   last_name: yang	full_name: ji won yang
Updating entry 6529
Calling API for name:
first_name: jan	middle_name: even	                   last_name: nilsen	full_name: jan even nilsen
Updating entry 6530
Calling API for name:

In [75]:
evaluatorNA.compute_all_errors()
evaluatorNA.confusion_matrix

   f_pred  m_pred  u_pred
f    1585      92     283
m     141    2827     861
u     256     586     444

### GenderAPI Full

In [23]:
data_source = 'all'
service_name = GenderAPIFullEvaluator

In [24]:
evaluatorGAF = service_name(data_source)
evaluatorGAF.load_data()
evaluatorGAF.fetch_gender()

Reading data from dump file test_data/gender_api_full/test_data_all_gender_api_full.csv

In [25]:
check_match_test_evaluated_data(evaluatorGAF)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_accuracy, api_duration, api_first_name, api_gender, api_last_name, api_name, api_samples, api_strict, gender_infered, _merge]
Index: []

#### Re-do names with middle name - since handling of connectors in the code changed after loop refactoring

In [26]:
# To avoid repeating valid queries, we take only names when empty connector was used
connected_with_empty = (evaluatorGAF.test_data.api_name == evaluatorGAF.test_data.first_name + evaluatorGAF.test_data.middle_name)
evaluatorGAF.test_data[(evaluatorGAF.test_data.middle_name!='') & (connected_with_empty)].head(10)

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_accuracy, api_duration, api_first_name, api_gender, api_last_name, api_name, api_samples, api_strict, gender_infered]
Index: []

In [27]:
len(evaluatorGA.test_data[(evaluatorGAF.test_data.middle_name!='') & (connected_with_empty)])

0

No need to fix the connector - data was evaluated after code refactoring

In [28]:
evaluatorGAF.compute_all_errors()
evaluatorGAF.confusion_matrix

   f_pred  m_pred  u_pred
f    1485     240     236
m     145    3123     561
u     257     853     176

### GenderAPI

In [3]:
data_source = 'all'
service_name = GenderAPIEvaluator

In [4]:
evaluatorGA = service_name(data_source)
evaluatorGA.load_data()
evaluatorGA.fetch_gender()

Reading data from dump file test_data/gender_api/test_data_all_gender_api.csv

#### Fix problem with 'nan' name

In [6]:
check_match_test_evaluated_data(evaluatorGA)

There is a mismatch between raw and evaluated datasets. Please fix.
right_only are entries in the raw data set. left_only in the evaluated one.

,first_name,middle_name,last_name,full_name,gender,origin,api_accuracy,api_duration,gender_infered,api_name,api_samples,api_gender,_merge
5038,,xian,chen,nan xian chen,m,nature,61.0,29ms,m,xian,405.0,male,left_only
7076,nan,xian,chen,nan xian chen,m,nature,NaN,NaN,NaN,NaN,NaN,NaN,right_only

In [7]:
# In the old test data file the first name had been incorrectly read as NaN. Put 'nan' back in
evaluatorGA.test_data.loc[5038, 'first_name'] = 'nan'

In [8]:
evaluatorGA.update_selected_records([5038])

Updating entry 5038
Calling API for name:
first_name: nan	middle_name: xian	                   last_name: chen	full_name: nan xian chen
Data updated in dump file test_data/gender_api/test_data_all_gender_api.csv

In [9]:
evaluatorGA.fetch_gender()

Reading data from dump file test_data/gender_api/test_data_all_gender_api.csv

In [10]:
check_match_test_evaluated_data(evaluatorGA)

Evaluated data set matches contents of test data set. Good!

Empty DataFrame
Columns: [first_name, middle_name, last_name, full_name, gender, origin, api_accuracy, api_duration, gender_infered, api_name, api_samples, api_gender, _merge]
Index: []

#### Re-do names with middle name - since handling of connectors in the code changed after loop refactoring

In [17]:
# To avoid repeating valid queries, we take only names when empty connector was used
connected_with_empty = (evaluatorGA.test_data.api_name == evaluatorGA.test_data.first_name + evaluatorGA.test_data.middle_name)
evaluatorGA.test_data[(evaluatorGA.test_data.middle_name!='') & (connected_with_empty)].head(20)

,first_name,middle_name,last_name,full_name,gender,origin,api_accuracy,api_duration,gender_infered,api_name,api_samples,api_gender
44,jae,il,lee,jae il lee,u,zbmath,100,37ms,m,jaeil,40,male
115,jin,ho,choi,jin ho choi,m,zbmath,99,16ms,m,jinho,280,male
195,soo,jin,kim,soo jin kim,f,zbmath,91,33ms,f,soojin,121,female
218,sung,hoon,hong,sung hoon hong,u,zbmath,100,19ms,m,sunghoon,140,male
266,abdel,hadi,ahmed,abdel hadi ahmed,u,zbmath,98,20ms,m,abdelhadi,1200,male
373,cheng,wei,chen,cheng wei chen,u,zbmath,96,20ms,m,chengwei,26,male
789,carol,anne,costabile-heming,carol anne costabile-heming,f,genderizeR,98,30ms,f,carolanne,183,female
1009,anne,mary,buck,anne mary buck,f,genderizeR_titles,100,72ms,f,annemary,22,female
1838,gian,luca,di tanna,gian luca di tanna,m,filardo,99,29ms,m,gianluca,23063,male
2281,young,ae,kang,young ae kang,f,filardo,100,28ms,f,youngae,9,female
2282,jae,hee,kang,jae hee kang,f,filardo,61,43ms,f,jaehee,100,female
2322,hae,jin,kim,hae jin kim,f,filardo,66,35ms,f,haejin,58,female
2670,ann,marie,navar-boggan,ann marie navar-boggan,f,filardo,98,17ms,f,annmarie,790,female
3397,moon,jeong,chang,moon jeong chang,f,nature,86,21ms,f,moonjeong,7,female
3417,ji,in,kang,ji in kang,f,nature,69,32ms,f,jiin,54,female
3704,seung,joo,kim,seung joo kim,m,nature,60,31ms,m,seungjoo,15,male
3796,won,tae,kwon,won tae kwon,m,nature,100,38ms,m,wontae,19,male
3910,nor,eddine,sounni,nor eddine sounni,m,nature,99,26ms,m,noreddine,267,male
4097,jong,hyeon,peck,jong hyeon peck,m,nature,93,17ms,m,jonghyeon,14,male
4311,young,mi,park,young mi park,f,nature,89,17ms,f,youngmi,47,female

In [14]:
len(evaluatorGA.test_data[(evaluatorGA.test_data.middle_name!='') & (connected_with_empty)])

105

In [18]:
to_update_indices = evaluatorGA.test_data[(evaluatorGA.test_data.middle_name!='') & (connected_with_empty)].index
to_update_indices

Int64Index([  44,  115,  195,  218,  266,  373,  789, 1009, 1838, 2281,
            ...
            6878, 6890, 6945, 6946, 6956, 6967, 7011, 7016, 7023, 7041],
           dtype='int64', length=105)

In [19]:
evaluatorGA.update_selected_records(to_update_indices)

Updating entry 44
Calling API for name:
first_name: jae	middle_name: il	                   last_name: lee	full_name: jae il lee
Updating entry 115
Calling API for name:
first_name: jin	middle_name: ho	                   last_name: choi	full_name: jin ho choi
Updating entry 195
Calling API for name:
first_name: soo	middle_name: jin	                   last_name: kim	full_name: soo jin kim
Updating entry 218
Calling API for name:
first_name: sung	middle_name: hoon	                   last_name: hong	full_name: sung hoon hong
Updating entry 266
Calling API for name:
first_name: abdel	middle_name: hadi	                   last_name: ahmed	full_name: abdel hadi ahmed
Updating entry 373
Calling API for name:
first_name: cheng	middle_name: wei	                   last_name: chen	full_name: cheng wei chen
Updating entry 789
Calling API for name:
first_name: carol	middle_name: anne	                   last_name: costabile-heming	full_name: carol anne costabile-heming
Updating entry 1009
Calling API for name:
first_name: anne	middle_name: mary	                   last_name: buck	full_name: anne mary buck
Updating entry 1838
Calling API for name:
first_name: gian	middle_name: luca	                   last_name: di tanna	full_name: gian luca di tanna
Updating entry 2281
Calling API for name:
first_name: young	middle_name: ae	                   last_name: kang	full_name: young ae kang
Updating entry 2282
Calling API for name:
first_name: jae	middle_name: hee	                   last_name: kang	full_name: jae hee kang
Updating entry 2322
Calling API for name:
first_name: hae	middle_name: jin	                   last_name: kim	full_name: hae jin kim
Updating entry 2670
Calling API for name:
first_name: ann	middle_name: marie	                   last_name: navar-boggan	full_name: ann marie navar-boggan
Updating entry 3397
Calling API for name:
first_name: moon	middle_name: jeong	                   last_name: chang	full_name: moon jeong chang
Updating entry 3417
Calling API for name:
first_name: ji	middle_name: in	                   last_name: kang	full_name: ji in kang
Updating entry 3704
Calling API for name:
first_name: seung	middle_name: joo	                   last_name: kim	full_name: seung joo kim
Updating entry 3796
Calling API for name:
first_name: won	middle_name: tae	                   last_name: kwon	full_name: won tae kwon
Updating entry 3910
Calling API for name:
first_name: nor	middle_name: eddine	                   last_name: sounni	full_name: nor eddine sounni
Updating entry 4097
Calling API for name:
first_name: jong	middle_name: hyeon	                   last_name: peck	full_name: jong hyeon peck
Updating entry 4311
Calling API for name:
first_name: young	middle_name: mi	                   last_name: park	full_name: young mi park
Updating entry 4379
Calling API for name:
first_name: so	middle_name: young	                   last_name: yoo	full_name: so young yoo
Updating entry 4434
Calling API for name:
first_name: mary	middle_name: anne	                   last_name: simpson	full_name: mary anne simpson
Updating entry 4512
Calling API for name:
first_name: min	middle_name: kyoung	                   last_name: kim	full_name: min kyoung kim
Updating entry 4604
Calling API for name:
first_name: kay	middle_name: tee	                   last_name: khaw	full_name: kay tee khaw
Updating entry 4790
Calling API for name:
first_name: soo	middle_name: young	                   last_name: park	full_name: soo young park
Updating entry 4830
Calling API for name:
first_name: anna	middle_name: maria	                   last_name: timperio	full_name: anna maria timperio
Updating entry 4834
Calling API for name:
first_name: soo	middle_name: jung	                   last_name: kim	full_name: soo jung kim
Updating entry 4851
Calling API for name:
first_name: anna	middle_name: maria	                   last_name: novello	full_name: anna maria novello
Updating entry 4920
Calling API for name:
first_name: so	middle_name: young	                   last_name: kim	full_name: so young kim
Updating entry 4922
Calling API for name:
first_name: min	middle_name: sun	                   last_name: park	full_name: min sun park
Updating entry 4924
Calling API for name:
first_name: jeong	middle_name: won	                   last_name: kim	full_name: jeong won kim
Updating entry 4926
Calling API for name:
first_name: myung	middle_name: hee	                   last_name: chung	full_name: myung hee chung
Updating entry 5023
Calling API for name:
first_name: myung	middle_name: hee	                   last_name: kang	full_name: myung hee kang
Updating entry 5034
Calling API for name:
first_name: eun	middle_name: seok	                   last_name: kang	full_name: eun seok kang
Updating entry 5044
Calling API for name:
first_name: yu	middle_name: wen	                   last_name: chen	full_name: yu wen chen
Updating entry 5066
Calling API for name:
first_name: yi	middle_name: jen	                   last_name: wang	full_name: yi jen wang
Updating entry 5082
Calling API for name:
first_name: chin	middle_name: yu	                   last_name: huang	full_name: chin yu huang
Updating entry 5095
Calling API for name:
first_name: wei	middle_name: da	                   last_name: liu	full_name: wei da liu
Updating entry 5096
Calling API for name:
first_name: yi	middle_name: ping	                   last_name: ge	full_name: yi ping ge
Updating entry 5107
Calling API for name:
first_name: ji	middle_name: hyun	                   last_name: jang	full_name: ji hyun jang
Updating entry 5147
Calling API for name:
first_name: seong	middle_name: eun	                   last_name: lee	full_name: seong eun lee
Updating entry 5154
Calling API for name:
first_name: in	middle_name: chul	                   last_name: hwang	full_name: in chul hwang
Updating entry 5158
Calling API for name:
first_name: tae	middle_name: ju	                   last_name: park	full_name: tae ju park
Updating entry 5187
Calling API for name:
first_name: min	middle_name: hee	                   last_name: lee	full_name: min hee lee
Updating entry 5188
Calling API for name:
first_name: ji	middle_name: hye	                   last_name: han	full_name: ji hye han
Updating entry 5201
Calling API for name:
first_name: li	middle_name: sha	                   last_name: an	full_name: li sha an
Updating entry 5211
Calling API for name:
first_name: yu	middle_name: lin	                   last_name: lai	full_name: yu lin lai
Updating entry 5216
Calling API for name:
first_name: sang	middle_name: woo	                   last_name: lee	full_name: sang woo lee
Updating entry 5340
Calling API for name:
first_name: yuan	middle_name: hao	                   last_name: liu	full_name: yuan hao liu
Updating entry 5363
Calling API for name:
first_name: kwang	middle_name: ho	                   last_name: kim	full_name: kwang ho kim
Updating entry 5364
Calling API for name:
first_name: yu	middle_name: jen	                   last_name: chen	full_name: yu jen chen
Updating entry 5414
Calling API for name:
first_name: young	middle_name: chul	                   last_name: ghim (kim)	full_name: young chul ghim (kim)
Updating entry 5429
Calling API for name:
first_name: sung	middle_name: hwa	                   last_name: kim	full_name: sung hwa kim
Updating entry 5650
Calling API for name:
first_name: sang	middle_name: won	                   last_name: yeo	full_name: sang won yeo
Updating entry 5655
Calling API for name:
first_name: hamid	middle_name: reza	                   last_name: khavasi	full_name: hamid reza khavasi
Updating entry 5704
Calling API for name:
first_name: sang	middle_name: hyun	                   last_name: oh	full_name: sang hyun oh
Updating entry 5710
Calling API for name:
first_name: li	middle_name: ming	                   last_name: su	full_name: li ming su
Updating entry 5728
Calling API for name:
first_name: ken	middle_name: ichi	                   last_name: fujita	full_name: ken ichi fujita
Updating entry 5756
Calling API for name:
first_name: young	middle_name: tae	                   last_name: kim	full_name: young tae kim
Updating entry 5772
Calling API for name:
first_name: wei	middle_name: liang	                   last_name: sun	full_name: wei liang sun
Updating entry 5795
Calling API for name:
first_name: hyo	middle_name: jin	                   last_name: ahn	full_name: hyo jin ahn
Updating entry 5813
Calling API for name:
first_name: jin	middle_name: ho	                   last_name: choe	full_name: jin ho choe
Updating entry 5841
Calling API for name:
first_name: woo	middle_name: ram	                   last_name: lee	full_name: woo ram lee
Updating entry 5865
Calling API for name:
first_name: yu	middle_name: chen	                   last_name: yang	full_name: yu chen yang
Updating entry 5878
Calling API for name:
first_name: hye	middle_name: young	                   last_name: kim	full_name: hye young kim
Updating entry 5936
Calling API for name:
first_name: young	middle_name: mo	                   last_name: koo	full_name: young mo koo
Updating entry 5945
Calling API for name:
first_name: kai	middle_name: ming	                   last_name: you	full_name: kai ming you
Updating entry 5950
Calling API for name:
first_name: el	middle_name: hassan	                   last_name: hamdani	full_name: el hassan hamdani
Updating entry 5967
Calling API for name:
first_name: ji	middle_name: heon	                   last_name: park	full_name: ji heon park
Updating entry 5993
Calling API for name:
first_name: seung	middle_name: hoon	                   last_name: lee	full_name: seung hoon lee
Updating entry 6011
Calling API for name:
first_name: sung	middle_name: soo	                   last_name: park	full_name: sung soo park
Updating entry 6058
Calling API for name:
first_name: min	middle_name: ho	                   last_name: jang	full_name: min ho jang
Updating entry 6061
Calling API for name:
first_name: jia	middle_name: ming	                   last_name: li	full_name: jia ming li
Updating entry 6087
Calling API for name:
first_name: jung	middle_name: hyun	                   last_name: kim	full_name: jung hyun kim
Updating entry 6105
Calling API for name:
first_name: wei	middle_name: ming	                   last_name: wang	full_name: wei ming wang
Updating entry 6119
Calling API for name:
first_name: ming	middle_name: ming	                   last_name: guo	full_name: ming ming guo
Updating entry 6137
Calling API for name:
first_name: dong	middle_name: hyuk	                   last_name: shin	full_name: dong hyuk shin
Updating entry 6204
Calling API for name:
first_name: chang	middle_name: hyun	                   last_name: kim	full_name: chang hyun kim
Updating entry 6249
Calling API for name:
first_name: jung	middle_name: eun	                   last_name: lee	full_name: jung eun lee
Updating entry 6259
Calling API for name:
first_name: young	middle_name: bum	                   last_name: kim	full_name: young bum kim
Updating entry 6260
Calling API for name:
first_name: jae	middle_name: woong	                   last_name: hwang	full_name: jae woong hwang
Updating entry 6264
Calling API for name:
first_name: jin	middle_name: hee	                   last_name: woo	full_name: jin hee woo
Updating entry 6291
Calling API for name:
first_name: chang	middle_name: geun	                   last_name: song	full_name: chang geun song
Updating entry 6390
Calling API for name:
first_name: young	middle_name: tae	                   last_name: chang	full_name: young tae chang
Updating entry 6426
Calling API for name:
first_name: young	middle_name: jo	                   last_name: kim	full_name: young jo kim
Updating entry 6444
Calling API for name:
first_name: young	middle_name: don	                   last_name: choi	full_name: young don choi
Updating entry 6527
Calling API for name:
first_name: ji	middle_name: won	                   last_name: yang	full_name: ji won yang
Updating entry 6536
Calling API for name:
first_name: dar	middle_name: ren	                   last_name: ji	full_name: dar ren ji
Updating entry 6626
Calling API for name:
first_name: chi	middle_name: hua	                   last_name: chen	full_name: chi hua chen
Updating entry 6760
Calling API for name:
first_name: young	middle_name: hyun	                   last_name: yoo	full_name: young hyun yoo
Updating entry 6766
Calling API for name:
first_name: shin	middle_name: young	                   last_name: park	full_name: shin young park
Updating entry 6841
Calling API for name:
first_name: young	middle_name: geun	                   last_name: lee	full_name: young geun lee
Updating entry 6853
Calling API for name:
first_name: eun	middle_name: soo	                   last_name: an	full_name: eun soo an
Updating entry 6861
Calling API for name:
first_name: ki	middle_name: yong	                   last_name: jeon	full_name: ki yong jeon
Updating entry 6865
Calling API for name:
first_name: eun	middle_name: soo	                   last_name: youk	full_name: eun soo youk
Updating entry 6878
Calling API for name:
first_name: young	middle_name: woo	                   last_name: kim	full_name: young woo kim
Updating entry 6890
Calling API for name:
first_name: ji	middle_name: won	                   last_name: kim	full_name: ji won kim
Updating entry 6945
Calling API for name:
first_name: soo	middle_name: yeon	                   last_name: seo	full_name: soo yeon seo
Updating entry 6946
Calling API for name:
first_name: chang	middle_name: soo	                   last_name: eun	full_name: chang soo eun
Updating entry 6956
Calling API for name:
first_name: young	middle_name: chan	                   last_name: choe	full_name: young chan choe
Updating entry 6967
Calling API for name:
first_name: jeong	middle_name: hyun	                   last_name: lee	full_name: jeong hyun lee
Updating entry 7011
Calling API for name:
first_name: jin	middle_name: young	                   last_name: bae	full_name: jin young bae
Updating entry 7016
Calling API for name:
first_name: chang	middle_name: hyeon	                   last_name: joh	full_name: chang hyeon joh
Updating entry 7023
Calling API for name:
first_name: jin	middle_name: young	                   last_name: kim	full_name: jin young kim
Updating entry 7041
Calling API for name:
first_name: chang	middle_name: woo	                   last_name: lee	full_name: chang woo lee
Data updated in dump file test_data/gender_api/test_data_all_gender_api.csv

In [21]:
connected_with_empty = (evaluatorGA.test_data.api_name == evaluatorGA.test_data.first_name + evaluatorGA.test_data.middle_name)
len(evaluatorGA.test_data[(evaluatorGA.test_data.middle_name!='') & (connected_with_empty)])

0

In [22]:
evaluatorGA.compute_all_errors()
evaluatorGA.confusion_matrix

   f_pred  m_pred  u_pred
f    1728     187      46
m     141    3560     128
u     298     912      76