# Fetch gender from any service

In [12]:
from evaluators import *

Change the two variables `data_source` and `service_name` below as required:

In [7]:
data_source = 'zbmath'
service_name = GenderizeIoEvaluator

In [8]:
evaluator = service_name(data_source)

In [9]:
evaluator.load_data()

In [11]:
# have a look at the data
evaluator.test_data.head()

  first_name middle_name  last_name           full_name gender
0     pierre        paul     grivel  pierre paul grivel      m
1       raul              serapioni      raul serapioni      m
2    adriano                  moura       adriano moura      m
3       ralf                 kieser         ralf kieser      m
4     teppei               ariyoshi     teppei ariyoshi      u

In [ ]:
evaluator.fetch_gender()

If this does not go through, due to a server error or because the daily quota was reached, then rerun cell above until you see the print message that file was dumped.

In [ ]:
# have a look at the data again
evaluator.test_data.head()