# Fetch gender from any service

In [1]:
from evaluators import *

Change the two variables `data_source` and `service_name` below as required:

In [2]:
data_source = 'genderizeR_titles'
service_name = GenderizeIoEvaluator

In [3]:
evaluator = service_name(data_source)

In [4]:
evaluator.load_data()

In [5]:
# have a look at the data
evaluator.test_data.head()

,raw_name,first_name,middle_name,last_name,full_name,gender
0,Nancy Mary Adams,nancy,mary,adams,nancy mary adams,f
1,Lloyd R Sutherland,lloyd,r,sutherland,lloyd r sutherland,m
2,John H. Hubbell,john,h,hubbell,john h. hubbell,m
3,Frank Kyte,frank,,kyte,frank kyte,m
4,Nobuo Tanaka,nobuo,,tanaka,nobuo tanaka,m

In [11]:
evaluator.fetch_gender()

Fetching gender data from API of service genderize_io
('Request limit too low to process request', 429, {'Server': 'nginx/1.10.3 (Ubuntu)', 'Date': 'Sat, 16 Dec 2017 08:00:36 GMT', 'ETag': 'W/"34-/B8VM4bRkG3nA11Ecw4Kpw"', 'Connection': 'keep-alive', 'Access-Control-Allow-Methods': 'GET', 'X-Powered-By': 'Express', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Content-Type', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '52'})
Response from API contains less results than request. Try again?
Saving data to dump file test_data/genderize_io/test_data_genderizeR_titles_genderize_io.csv
Test data has not been evaluated yet, won't dump

In [12]:
len(evaluator.api_response)

144

If this does not go through, due to a server error or because the daily quota was reached, then rerun cell above until you see the print message that file was dumped.

In [ ]:
# have a look at the data again
evaluator.test_data.head()